.station-42__cls-1 {
    fill: #009245;
}

.station-42__cls-2 {
    letter-spacing: .02em;
}

.station-42__cls-3 {
    fill: gray;
}

.station-42__cls-3,
.station-42__cls-4,
.station-42__cls-5,
.station-42__cls-6,
.station-42__cls-7,
.station-42__cls-8,
.station-42__cls-9,
.station-42__cls-10 {
    stroke-width: 2px;
}

.station-42__cls-3,
.station-42__cls-4,
.station-42__cls-5,
.station-42__cls-6,
.station-42__cls-7,
.station-42__cls-8,
.station-42__cls-9,
.station-42__cls-10,
.station-42__cls-11 {
    stroke-miterlimit: 10;
}

.station-42__cls-3,
.station-42__cls-4,
.station-42__cls-7,
.station-42__cls-9,
.station-42__cls-10,
.station-42__cls-11 {
    stroke: #000;
}

.station-42__cls-12 {
    letter-spacing: 0em;
}

.station-42__cls-13 {
    letter-spacing: 0em;
}

.station-42__cls-14 {
    font-size: 16.91px;
}

.station-42__cls-15 {
    letter-spacing: 0em;
}

.station-42__cls-16,
.station-42__cls-17,
.station-42__cls-6,
.station-42__cls-8,
.station-42__cls-9,
.station-42__cls-10,
.station-42__cls-11,
.station-42__cls-18 {
    fill: #fff;
}

.station-42__cls-19 {
    letter-spacing: -.02em;
}

.station-42__cls-17,
.station-42__cls-20,
.station-42__cls-21,
.station-42__cls-22,
.station-42__cls-23,
.station-42__cls-24,
.station-42__cls-25,
.station-42__cls-26,
.station-42__cls-27,
.station-42__cls-18 {
    font-family: 'Inter', sans-serif;
}

.station-42__cls-17,
.station-42__cls-20,
.station-42__cls-28,
.station-42__cls-23,
.station-42__cls-24,
.station-42__cls-26,
.station-42__cls-27 {
    font-size: 18.03px;
}

.station-42__cls-29 {
    letter-spacing: 0em;
}

.station-42__cls-30 {
    letter-spacing: 0em;
}

.station-42__cls-31 {
    letter-spacing: .02em;
}

.station-42__cls-32 {
    letter-spacing: -.06em;
}

.station-42__cls-33 {
    letter-spacing: -.02em;
}

.station-42__cls-34 {
    letter-spacing: .01em;
}

.station-42__cls-35 {
    letter-spacing: -.04em;
}

.station-42__cls-4 {
    fill: #e6e6e6;
}

.station-42__cls-36 {
    letter-spacing: 0em;
}

.station-42__cls-37 {
    letter-spacing: -.04em;
}

.station-42__cls-38 {
    letter-spacing: .01em;
}

.station-42__cls-39 {
    letter-spacing: 0em;
}

.station-42__cls-5,
.station-42__cls-6,
.station-42__cls-8 {
    stroke: #66bb6a;
}

.station-42__cls-5,
.station-42__cls-7 {
    fill: none;
}

.station-42__cls-40 {
    letter-spacing: 0em;
}

.station-42__cls-41 {
    letter-spacing: -.04em;
}

.station-42__cls-21,
.station-42__cls-23 {
    fill: #d4145a;
}

.station-42__cls-42 {
    letter-spacing: 0em;
}

.station-42__cls-43 {
    letter-spacing: .05em;
}

.station-42__cls-44 {
    letter-spacing: .01em;
}

.station-42__cls-45 {
    letter-spacing: 0em;
}

.station-42__cls-46 {
    letter-spacing: .02em;
}

.station-42__cls-47 {
    letter-spacing: 0em;
}

.station-42__cls-48 {
    letter-spacing: 0em;
}

.station-42__cls-49 {
    letter-spacing: -.08em;
}

.station-42__cls-6,
.station-42__cls-9,
.station-42__cls-11 {
    stroke-linecap: round;
}

.station-42__cls-50 {
    letter-spacing: -.03em;
}

.station-42__cls-51 {
    letter-spacing: -.06em;
}

.station-42__cls-52 {
    letter-spacing: -.01em;
}

.station-42__cls-22,
.station-42__cls-25,
.station-42__cls-18 {
    font-size: 15.78px;
}

.station-42__cls-53 {
    letter-spacing: 0em;
}

.station-42__cls-54 {
    letter-spacing: -.04em;
}

.station-42__cls-55,
.station-42__cls-25,
.station-42__cls-26 {
    fill: #2e3192;
}

.station-42__cls-56 {
    letter-spacing: -.01em;
}

.station-42__cls-57 {
    letter-spacing: 0em;
}

.station-42__cls-58 {
    letter-spacing: 0em;
}

.station-42__cls-59 {
    letter-spacing: -.02em;
}

.station-42__cls-60 {
    letter-spacing: -.07em;
}

.station-42__cls-61 {
    letter-spacing: .02em;
}

.station-42__cls-62,
.station-42__cls-24 {
    fill: #fbc02d;
}

.station-42__cls-63 {
    fill: #66bb6a;
}

.station-42__cls-64 {
    letter-spacing: -.06em;
}

.station-42__cls-65 {
    letter-spacing: -.02em;
}

.station-42__cls-66 {
    letter-spacing: 0em;
}

.station-42__cls-67 {
    letter-spacing: -.04em;
}

.station-42__cls-68 {
    letter-spacing: -.05em;
}

.station-42__cls-69 {
    letter-spacing: 0em;
}

.station-42__cls-70 {
    letter-spacing: 0em;
}

.station-42__cls-71 {
    letter-spacing: 0em;
}

.station-42__cls-72 {
    letter-spacing: 0em;
}

.station-42__cls-73 {
    letter-spacing: .01em;
}

.station-42__cls-74 {
    letter-spacing: 0em;
}

.station-42__cls-75 {
    letter-spacing: -.06em;
}

.station-42__cls-76 {
    letter-spacing: -.06em;
}

.station-42__cls-77 {
    letter-spacing: -.02em;
}

.station-42__cls-78 {
    letter-spacing: -.01em;
}

.station-42__cls-79 {
    letter-spacing: -.04em;
}

.station-42__cls-80 {
    letter-spacing: .03em;
}

.station-42__cls-81 {
    letter-spacing: -.05em;
}

.station-42__cls-82 {
    fill: #212121;
}

.station-42__cls-83 {
    letter-spacing: 0em;
}

.station-42__cls-84 {
    letter-spacing: .02em;
}

.station-42__cls-85 {
    letter-spacing: 0em;
}

.station-42__cls-86 {
    letter-spacing: -.02em;
}

.station-42__cls-87 {
    letter-spacing: 0em;
}

.station-42__cls-88 {
    letter-spacing: -.02em;
}

.station-42__cls-89 {
    letter-spacing: .01em;
}

.station-42__cls-90 {
    letter-spacing: 0em;
}

.station-42__cls-91 {
    letter-spacing: 0em;
}

.station-42__cls-92 {
    letter-spacing: 0em;
}

.station-42__cls-93 {
    letter-spacing: -.02em;
}

.station-42__cls-94 {
    letter-spacing: 0em;
}

.station-42__cls-95 {
    letter-spacing: 0em;
}

.station-42__cls-96 {
    letter-spacing: 0em;
}

.station-42__cls-97 {
    letter-spacing: -.01em;
}

.station-42__cls-98 {
    letter-spacing: 0em;
}

.station-42__cls-99 {
    letter-spacing: .04em;
}

.station-42__cls-100 {
    letter-spacing: -.04em;
}

.station-42__cls-101 {
    letter-spacing: 0em;
}

.station-42__cls-102 {
    letter-spacing: 0em;
}

.station-42__cls-103 {
    letter-spacing: -.03em;
}

.station-42__cls-104 {
    letter-spacing: 0em;
}

.station-42__cls-105 {
    letter-spacing: -.04em;
}

.station-42__cls-106 {
    letter-spacing: 0em;
}

.station-42__cls-107 {
    letter-spacing: -.01em;
}

.station-42__cls-108 {
    letter-spacing: 0em;
}

.station-42__cls-109 {
    letter-spacing: 0em;
}

.station-42__cls-110 {
    letter-spacing: 0em;
}

.station-42__cls-111 {
    letter-spacing: -.03em;
}

.station-42__cls-112 {
    letter-spacing: -.02em;
}

.station-42__cls-27 {
    fill: #00e5ff;
}

.station-42__cls-113 {
    letter-spacing: -.02em;
}

.station-42__cls-114 {
    letter-spacing: 0em;
}

.station-42__cls-115 {
    letter-spacing: .01em;
}

.station-42__cls-116 {
    letter-spacing: 0em;
}

.station-42__cls-117 {
    letter-spacing: 0em;
}

.station-42__cls-118 {
    letter-spacing: -.01em;
}

.station-42__cls-119 {
    letter-spacing: -.01em;
}

.station-42__cls-120 {
    letter-spacing: -.01em;
}

.station-42__cls-121 {
    letter-spacing: 0em;
}

.station-42__cls-122 {
    letter-spacing: -.06em;
}

.station-42__cls-123 {
    letter-spacing: 0em;
}

.station-42__cls-124 {
    letter-spacing: 0em;
}

.station-42__cls-125 {
    letter-spacing: 0em;
}

.station-42__cls-126 {
    letter-spacing: -.04em;
}

.station-42__cls-127 {
    letter-spacing: 0em;
}

.station-42__cls-128 {
    letter-spacing: 0em;
}

.station-42__cls-129 {
    letter-spacing: -.03em;
}

.station-42__cls-130 {
    letter-spacing: .02em;
}

.station-42__cls-131 {
    letter-spacing: -.01em;
}
