#Layer_9 {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.station-42__cls-1 {
  fill: #009245;
}

.station-42__cls-3 {
  fill: gray;
}

.station-42__cls-3,
.station-42__cls-4,
.station-42__cls-5,
.station-42__cls-6,
.station-42__cls-7,
.station-42__cls-8,
.station-42__cls-9,
.station-42__cls-10 {
  stroke-width: 2px;
}

.station-42__cls-3,
.station-42__cls-4,
.station-42__cls-5,
.station-42__cls-6,
.station-42__cls-7,
.station-42__cls-8,
.station-42__cls-9,
.station-42__cls-10,
.station-42__cls-11 {
  stroke-miterlimit: 10;
}

.station-42__cls-3,
.station-42__cls-4,
.station-42__cls-7,
.station-42__cls-9,
.station-42__cls-10,
.station-42__cls-11 {
  stroke: #000;
}

.station-42__cls-14 {
  font-size: 16.91px;
}

.station-42__cls-16,
.station-42__cls-17,
.station-42__cls-6,
.station-42__cls-8,
.station-42__cls-9,
.station-42__cls-10,
.station-42__cls-11,
.station-42__cls-18 {
  fill: #fff;
}

.station-42__cls-17,
.station-42__cls-20,
.station-42__cls-21,
.station-42__cls-22,
.station-42__cls-23,
.station-42__cls-24,
.station-42__cls-25,
.station-42__cls-26,
.station-42__cls-27,
.station-42__cls-18 {
  font-family: 'Inter', sans-serif;
}

.station-42__cls-17,
.station-42__cls-20,
.station-42__cls-28,
.station-42__cls-23,
.station-42__cls-24,
.station-42__cls-26,
.station-42__cls-27 {
  font-size: 15px;
}

.station-42__cls-4 {
  fill: #e6e6e6;
}

.station-42__cls-5,
.station-42__cls-6,
.station-42__cls-8 {
  stroke: #66bb6a;
}

.station-42__cls-5,
.station-42__cls-7 {
  fill: none;
}

.station-42__cls-21,
.station-42__cls-23 {
  fill: #d4145a;
}

.station-42__cls-6,
.station-42__cls-9,
.station-42__cls-11 {
  stroke-linecap: round;
}

.station-42__cls-22,
.station-42__cls-25,
.station-42__cls-18 {
  font-size: 15.78px;
}

.station-42__cls-55,
.station-42__cls-25,
.station-42__cls-26 {
  fill: #2e3192;
}

.station-42__cls-62,
.station-42__cls-24 {
  fill: #fbc02d;
}

.station-42__cls-63 {
  fill: #66bb6a;
}

.station-42__cls-82 {
  fill: #212121;
}

.station-42__cls-27 {
  fill: #00e5ff;
}
