.station-33__cls-1 {
  letter-spacing: 0em;
}

.station-33__cls-2 {
  fill: #009245;
}

.station-33__cls-3 {
  letter-spacing: 0em;
}

.station-33__cls-4 {
  letter-spacing: 0em;
}

.station-33__cls-5 {
  fill: gray;
}

.station-33__cls-5,
.station-33__cls-6,
.station-33__cls-7,
.station-33__cls-8,
.station-33__cls-9,
.station-33__cls-10,
.station-33__cls-11,
.station-33__cls-12 {
  stroke-width: 2px;
}

.station-33__cls-5,
.station-33__cls-6,
.station-33__cls-7,
.station-33__cls-8,
.station-33__cls-9,
.station-33__cls-10,
.station-33__cls-11,
.station-33__cls-12,
.station-33__cls-13 {
  stroke-miterlimit: 10;
}

.station-33__cls-5,
.station-33__cls-6,
.station-33__cls-9,
.station-33__cls-11,
.station-33__cls-12,
.station-33__cls-13 {
  stroke: #000;
}

.station-33__cls-14 {
  letter-spacing: 0em;
}

.station-33__cls-15 {
  letter-spacing: 0em;
}

.station-33__cls-16 {
  letter-spacing: -0.07em;
}

.station-33__cls-17,
.station-33__cls-18,
.station-33__cls-8,
.station-33__cls-19,
.station-33__cls-10,
.station-33__cls-11,
.station-33__cls-12,
.station-33__cls-13 {
  fill: #fff;
}

.station-33__cls-20,
.station-33__cls-21,
.station-33__cls-18,
.station-33__cls-22,
.station-33__cls-23,
.station-33__cls-24,
.station-33__cls-25,
.station-33__cls-19,
.station-33__cls-26 {
  font-family: 'Inter', sans-serif;
}

.station-33__cls-20,
.station-33__cls-21,
.station-33__cls-18,
.station-33__cls-23,
.station-33__cls-24,
.station-33__cls-26 {
  font-size: 23.59px;
}

.station-33__cls-20,
.station-33__cls-27 {
  fill: #fbc02d;
}

.station-33__cls-28 {
  letter-spacing: 0em;
}

.station-33__cls-29 {
  letter-spacing: 0em;
}

.station-33__cls-30 {
  letter-spacing: 0em;
}

.station-33__cls-31 {
  letter-spacing: 0.01em;
}

.station-33__cls-32 {
  letter-spacing: -0.04em;
}

.station-33__cls-6 {
  fill: #e6e6e6;
}

.station-33__cls-33 {
  letter-spacing: 0em;
}

.station-33__cls-34 {
  letter-spacing: 0.02em;
}

.station-33__cls-35 {
  letter-spacing: 0.02em;
}

.station-33__cls-7,
.station-33__cls-8,
.station-33__cls-10 {
  stroke: #66bb6a;
}

.station-33__cls-7,
.station-33__cls-9 {
  fill: none;
}

.station-33__cls-36 {
  letter-spacing: 0em;
}

.station-33__cls-22,
.station-33__cls-23 {
  fill: #2e3192;
}

.station-33__cls-22,
.station-33__cls-25,
.station-33__cls-19 {
  font-size: 20.64px;
}

.station-33__cls-37 {
  letter-spacing: -0.03em;
}

.station-33__cls-38 {
  letter-spacing: -0.01em;
}

.station-33__cls-39 {
  letter-spacing: 0em;
}

.station-33__cls-40 {
  letter-spacing: 0em;
}

.station-33__cls-41 {
  letter-spacing: 0em;
}

.station-33__cls-8,
.station-33__cls-11,
.station-33__cls-13 {
  stroke-linecap: round;
}

.station-33__cls-42 {
  letter-spacing: 0.04em;
}

.station-33__cls-24 {
  fill: #d4145a;
}

.station-33__cls-43 {
  letter-spacing: 0em;
}

.station-33__cls-44 {
  letter-spacing: -0.01em;
}

.station-33__cls-45 {
  letter-spacing: 0em;
}

.station-33__cls-46 {
  letter-spacing: 0em;
}

.station-33__cls-47 {
  letter-spacing: 0em;
}

.station-33__cls-48 {
  letter-spacing: -0.02em;
}

.station-33__cls-49 {
  letter-spacing: 0em;
}

.station-33__cls-50 {
  letter-spacing: 0em;
}

.station-33__cls-51 {
  letter-spacing: -0.04em;
}

.station-33__cls-52 {
  letter-spacing: 0.01em;
}

.station-33__cls-53 {
  letter-spacing: 0em;
}

.station-33__cls-54 {
  letter-spacing: -0.04em;
}

.station-33__cls-55 {
  letter-spacing: -0.02em;
}

.station-33__cls-56 {
  letter-spacing: -0.02em;
}

.station-33__cls-57 {
  letter-spacing: -0.03em;
}

.station-33__cls-58 {
  letter-spacing: 0em;
}

.station-33__cls-59 {
  letter-spacing: 0em;
}

.station-33__cls-60 {
  letter-spacing: 0em;
}

.station-33__cls-61 {
  letter-spacing: 0em;
}

.station-33__cls-62 {
  fill: #66bb6a;
}

.station-33__cls-63 {
  letter-spacing: -0.06em;
}

.station-33__cls-64 {
  letter-spacing: -0.04em;
}

.station-33__cls-65 {
  letter-spacing: 0em;
}

.station-33__cls-66 {
  letter-spacing: -0.01em;
}

.station-33__cls-67 {
  letter-spacing: -0.03em;
}

.station-33__cls-68 {
  letter-spacing: 0.01em;
}

.station-33__cls-69 {
  letter-spacing: -0.06em;
}

.station-33__cls-70 {
  fill: #212121;
}

.station-33__cls-71 {
  letter-spacing: 0em;
}

.station-33__cls-72 {
  letter-spacing: -0.01em;
}

.station-33__cls-73 {
  letter-spacing: 0em;
}

.station-33__cls-74 {
  letter-spacing: 0em;
}

.station-33__cls-75 {
  letter-spacing: 0.02em;
}

.station-33__cls-76 {
  letter-spacing: 0em;
}

.station-33__cls-77 {
  letter-spacing: 0em;
}

.station-33__cls-78 {
  letter-spacing: 0em;
}

.station-33__cls-79 {
  letter-spacing: 0em;
}

.station-33__cls-80 {
  letter-spacing: 0em;
}

.station-33__cls-81 {
  letter-spacing: 0em;
}

.station-33__cls-82 {
  letter-spacing: 0em;
}

.station-33__cls-83 {
  letter-spacing: -0.03em;
}

.station-33__cls-84 {
  letter-spacing: 0.03em;
}

.station-33__cls-85 {
  letter-spacing: 0.01em;
}

.station-33__cls-86 {
  letter-spacing: -0.03em;
}

.station-33__cls-87 {
  letter-spacing: -0.01em;
}

.station-33__cls-88 {
  letter-spacing: 0em;
}

.station-33__cls-89 {
  letter-spacing: 0.01em;
}

.station-33__cls-90 {
  letter-spacing: 0em;
}

.station-33__cls-91 {
  letter-spacing: 0em;
}

.station-33__cls-92 {
  letter-spacing: -0.01em;
}

.station-33__cls-26 {
  fill: #00e5ff;
}

.station-33__cls-93 {
  letter-spacing: 0.05em;
}

.station-33__cls-94 {
  letter-spacing: 0em;
}

.station-33__cls-95 {
  letter-spacing: 0em;
}

.station-33__cls-96 {
  letter-spacing: -0.04em;
}
