.station-33__cls-2 {
  fill: #009245;
}

.station-33__cls-5 {
  fill: gray;
}

.station-33__cls-5,
.station-33__cls-6,
.station-33__cls-7,
.station-33__cls-8,
.station-33__cls-9,
.station-33__cls-10,
.station-33__cls-11,
.station-33__cls-12 {
  stroke-width: 2px;
}

.station-33__cls-5,
.station-33__cls-6,
.station-33__cls-7,
.station-33__cls-8,
.station-33__cls-9,
.station-33__cls-10,
.station-33__cls-11,
.station-33__cls-12,
.station-33__cls-13 {
  stroke-miterlimit: 10;
}

.station-33__cls-5,
.station-33__cls-6,
.station-33__cls-9,
.station-33__cls-11,
.station-33__cls-12,
.station-33__cls-13 {
  stroke: #000;
}

.station-33__cls-17,
.station-33__cls-18,
.station-33__cls-8,
.station-33__cls-19,
.station-33__cls-10,
.station-33__cls-11,
.station-33__cls-12,
.station-33__cls-13 {
  fill: #fff;
}

.station-33__cls-20,
.station-33__cls-21,
.station-33__cls-18,
.station-33__cls-22,
.station-33__cls-23,
.station-33__cls-24,
.station-33__cls-25,
.station-33__cls-19,
.station-33__cls-26 {
  font-family: 'Inter', sans-serif;
}

.station-33__cls-20,
.station-33__cls-21,
.station-33__cls-18,
.station-33__cls-23,
.station-33__cls-24,
.station-33__cls-26 {
  font-size: 20px;
}

.station-33__cls-20,
.station-33__cls-27 {
  fill: #fbc02d;
}

.station-33__cls-6 {
  fill: #e6e6e6;
}

.station-33__cls-7,
.station-33__cls-8,
.station-33__cls-10 {
  stroke: #66bb6a;
}

.station-33__cls-7,
.station-33__cls-9 {
  fill: none;
}

.station-33__cls-22,
.station-33__cls-23 {
  fill: #2e3192;
}

.station-33__cls-22,
.station-33__cls-25,
.station-33__cls-19 {
  font-size: 18px;
}

.station-33__cls-8,
.station-33__cls-11,
.station-33__cls-13 {
  stroke-linecap: round;
}

.station-33__cls-24 {
  fill: #d4145a;
}

.station-33__cls-62 {
  fill: #66bb6a;
}

.station-33__cls-70 {
  fill: #212121;
}

.station-33__cls-26 {
  fill: #00e5ff;
}
