.station-32__cls-1 {
  fill: #009245;
}

.station-32__cls-3 {
  fill: gray;
}

.station-32__cls-3,
.station-32__cls-4,
.station-32__cls-5,
.station-32__cls-6,
.station-32__cls-7,
.station-32__cls-8,
.station-32__cls-9,
.station-32__cls-10 {
  stroke-width: 2px;
}

.station-32__cls-3,
.station-32__cls-4,
.station-32__cls-5,
.station-32__cls-6,
.station-32__cls-7,
.station-32__cls-8,
.station-32__cls-9,
.station-32__cls-10,
.station-32__cls-11 {
  stroke-miterlimit: 10;
}

.station-32__cls-3,
.station-32__cls-4,
.station-32__cls-7,
.station-32__cls-9,
.station-32__cls-10,
.station-32__cls-11 {
  stroke: #000;
}

.station-32__cls-13 {
  fill: #d4145a;
}

.station-32__cls-13,
.station-32__cls-14,
.station-32__cls-15,
.station-32__cls-16,
.station-32__cls-17,
.station-32__cls-18,
.station-32__cls-19,
.station-32__cls-20,
.station-32__cls-21 {
  font-family: 'Inter', sans-serif;
}

.station-32__cls-13,
.station-32__cls-14,
.station-32__cls-15,
.station-32__cls-16,
.station-32__cls-17,
.station-32__cls-19 {
  font-size: 15px;
}

.station-32__cls-23,
.station-32__cls-6,
.station-32__cls-18,
.station-32__cls-8,
.station-32__cls-9,
.station-32__cls-19,
.station-32__cls-10,
.station-32__cls-11 {
  fill: #fff;
}

.station-32__cls-14 {
  fill: #00e5ff;
}

.station-32__cls-4 {
  fill: #e6e6e6;
}

.station-32__cls-5,
.station-32__cls-6,
.station-32__cls-8 {
  stroke: #66bb6a;
}

.station-32__cls-5,
.station-32__cls-7 {
  fill: none;
}

.station-32__cls-15,
.station-32__cls-21 {
  fill: #2e3192;
}

.station-32__cls-6,
.station-32__cls-9,
.station-32__cls-11 {
  stroke-linecap: round;
}

.station-32__cls-16,
.station-32__cls-46 {
  fill: #fbc02d;
}

.station-32__cls-56 {
  fill: #66bb6a;
}

.station-32__cls-67 {
  fill: #212121;
}

.station-32__cls-18,
.station-32__cls-20,
.station-32__cls-21 {
  font-size: 15px;
}
