.station-32__cls-1 {
  fill: #009245;
}

.station-32__cls-2 {
  letter-spacing: 0.02em;
}

.station-32__cls-3 {
  fill: gray;
}

.station-32__cls-3,
.station-32__cls-4,
.station-32__cls-5,
.station-32__cls-6,
.station-32__cls-7,
.station-32__cls-8,
.station-32__cls-9,
.station-32__cls-10 {
  stroke-width: 2px;
}

.station-32__cls-3,
.station-32__cls-4,
.station-32__cls-5,
.station-32__cls-6,
.station-32__cls-7,
.station-32__cls-8,
.station-32__cls-9,
.station-32__cls-10,
.station-32__cls-11 {
  stroke-miterlimit: 10;
}

.station-32__cls-3,
.station-32__cls-4,
.station-32__cls-7,
.station-32__cls-9,
.station-32__cls-10,
.station-32__cls-11 {
  stroke: #000;
}

.station-32__cls-12 {
  letter-spacing: 0em;
}

.station-32__cls-13 {
  fill: #d4145a;
}

.station-32__cls-13,
.station-32__cls-14,
.station-32__cls-15,
.station-32__cls-16,
.station-32__cls-17,
.station-32__cls-18,
.station-32__cls-19,
.station-32__cls-20,
.station-32__cls-21 {
  font-family: 'Inter', sans-serif;
}

.station-32__cls-13,
.station-32__cls-14,
.station-32__cls-15,
.station-32__cls-16,
.station-32__cls-17,
.station-32__cls-19 {
  font-size: 18.38px;
}

.station-32__cls-22 {
  letter-spacing: 0em;
}

.station-32__cls-23,
.station-32__cls-6,
.station-32__cls-18,
.station-32__cls-8,
.station-32__cls-9,
.station-32__cls-19,
.station-32__cls-10,
.station-32__cls-11 {
  fill: #fff;
}

.station-32__cls-24 {
  letter-spacing: 0.03em;
}

.station-32__cls-25 {
  letter-spacing: -0.06em;
}

.station-32__cls-26 {
  letter-spacing: 0em;
}

.station-32__cls-27 {
  letter-spacing: -0.01em;
}

.station-32__cls-28 {
  letter-spacing: -0.05em;
}

.station-32__cls-14 {
  fill: #00e5ff;
}

.station-32__cls-29 {
  letter-spacing: 0em;
}

.station-32__cls-30 {
  letter-spacing: 0em;
}

.station-32__cls-4 {
  fill: #e6e6e6;
}

.station-32__cls-31 {
  letter-spacing: 0.01em;
}

.station-32__cls-32 {
  letter-spacing: 0em;
}

.station-32__cls-5,
.station-32__cls-6,
.station-32__cls-8 {
  stroke: #66bb6a;
}

.station-32__cls-5,
.station-32__cls-7 {
  fill: none;
}

.station-32__cls-33 {
  letter-spacing: 0em;
}

.station-32__cls-34 {
  letter-spacing: -0.04em;
}

.station-32__cls-35 {
  letter-spacing: 0em;
}

.station-32__cls-36 {
  letter-spacing: 0em;
}

.station-32__cls-15,
.station-32__cls-21 {
  fill: #2e3192;
}

.station-32__cls-37 {
  letter-spacing: -0.02em;
}

.station-32__cls-38 {
  letter-spacing: -0.04em;
}

.station-32__cls-39 {
  letter-spacing: 0.04em;
}

.station-32__cls-40 {
  letter-spacing: 0em;
}

.station-32__cls-41 {
  letter-spacing: -0.02em;
}

.station-32__cls-6,
.station-32__cls-9,
.station-32__cls-11 {
  stroke-linecap: round;
}

.station-32__cls-42 {
  letter-spacing: 0em;
}

.station-32__cls-43 {
  letter-spacing: 0em;
}

.station-32__cls-44 {
  letter-spacing: 0em;
}

.station-32__cls-45 {
  letter-spacing: -0.06em;
}

.station-32__cls-16,
.station-32__cls-46 {
  fill: #fbc02d;
}

.station-32__cls-47 {
  letter-spacing: 0em;
}

.station-32__cls-48 {
  letter-spacing: 0em;
}

.station-32__cls-49 {
  letter-spacing: 0em;
}

.station-32__cls-50 {
  letter-spacing: -0.02em;
}

.station-32__cls-51 {
  letter-spacing: -0.07em;
}

.station-32__cls-52 {
  letter-spacing: 0.01em;
}

.station-32__cls-53 {
  letter-spacing: -0.02em;
}

.station-32__cls-54 {
  letter-spacing: 0em;
}

.station-32__cls-55 {
  letter-spacing: -0.03em;
}

.station-32__cls-56 {
  fill: #66bb6a;
}

.station-32__cls-57 {
  letter-spacing: 0.01em;
}

.station-32__cls-58 {
  letter-spacing: 0em;
}

.station-32__cls-59 {
  letter-spacing: 0em;
}

.station-32__cls-60 {
  letter-spacing: -0.01em;
}

.station-32__cls-61 {
  letter-spacing: 0em;
}

.station-32__cls-62 {
  letter-spacing: 0.02em;
}

.station-32__cls-63 {
  letter-spacing: 0em;
}

.station-32__cls-64 {
  letter-spacing: 0.05em;
}

.station-32__cls-65 {
  letter-spacing: 0em;
}

.station-32__cls-66 {
  letter-spacing: -0.01em;
}

.station-32__cls-67 {
  fill: #212121;
}

.station-32__cls-68 {
  letter-spacing: 0em;
}

.station-32__cls-18,
.station-32__cls-20,
.station-32__cls-21 {
  font-size: 16.08px;
}

.station-32__cls-69 {
  letter-spacing: 0em;
}

.station-32__cls-70 {
  letter-spacing: -0.03em;
}

.station-32__cls-71 {
  letter-spacing: -0.04em;
}

.station-32__cls-72 {
  letter-spacing: -0.03em;
}

.station-32__cls-73 {
  letter-spacing: 0.02em;
}

.station-32__cls-74 {
  letter-spacing: -0.04em;
}

.station-32__cls-75 {
  letter-spacing: -0.02em;
}

.station-32__cls-76 {
  letter-spacing: 0em;
}

.station-32__cls-77 {
  letter-spacing: 0em;
}

.station-32__cls-78 {
  letter-spacing: 0em;
}

.station-32__cls-79 {
  letter-spacing: 0em;
}

.station-32__cls-80 {
  letter-spacing: -0.04em;
}

.station-32__cls-81 {
  letter-spacing: 0.01em;
}

.station-32__cls-82 {
  letter-spacing: -0.01em;
}

.station-32__cls-83 {
  letter-spacing: 0.01em;
}

.station-32__cls-84 {
  letter-spacing: 0em;
}

.station-32__cls-85 {
  letter-spacing: 0em;
}

.station-32__cls-86 {
  letter-spacing: 0.01em;
}

.station-32__cls-87 {
  letter-spacing: 0em;
}

.station-32__cls-88 {
  letter-spacing: 0.01em;
}

.station-32__cls-89 {
  letter-spacing: 0em;
}

.station-32__cls-90 {
  letter-spacing: 0.01em;
}

.station-32__cls-91 {
  letter-spacing: 0em;
}

.station-32__cls-92 {
  letter-spacing: -0.04em;
}

.station-32__cls-93 {
  letter-spacing: 0em;
}

.station-32__cls-94 {
  letter-spacing: 0em;
}

.station-32__cls-95 {
  letter-spacing: -0.02em;
}

.station-32__cls-96 {
  letter-spacing: -0.04em;
}

.station-32__cls-97 {
  letter-spacing: -0.03em;
}
