.all-meter__cls-1 {
  fill: gray;
}

.all-meter__cls-1,
.all-meter__cls-2,
.all-meter__cls-3 {
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.all-meter__cls-4 {
  letter-spacing: 0em;
}

.all-meter__cls-5 {
  letter-spacing: 0.02em;
}

.all-meter__cls-6 {
  letter-spacing: 0em;
}

.all-meter__cls-7 {
  letter-spacing: -0.02em;
}

.all-meter__cls-8 {
  letter-spacing: 0em;
}

.all-meter__cls-2 {
  fill: #e6e6e6;
}

.all-meter__cls-9 {
  letter-spacing: 0em;
}

.all-meter__cls-10 {
  letter-spacing: -0.06em;
}

.all-meter__cls-11 {
  letter-spacing: -0.01em;
}

.all-meter__cls-12,
.all-meter__cls-13 {
  fill: #fff;
}

.all-meter__cls-12,
.all-meter__cls-13,
.all-meter__cls-14,
.all-meter__cls-15 {
  font-family: MyriadPro-Regular, 'Myriad Pro';
}

.all-meter__cls-12,
.all-meter__cls-14,
.all-meter__cls-15 {
  font-size: 16.88px;
}

.all-meter__cls-16 {
  letter-spacing: 0.01em;
}

.all-meter__cls-17 {
  letter-spacing: 0.02em;
}

.all-meter__cls-18 {
  letter-spacing: 0.01em;
}

.all-meter__cls-19 {
  letter-spacing: 0em;
}

.all-meter__cls-20 {
  fill: #2e3192;
}

.all-meter__cls-21,
.all-meter__cls-14 {
  fill: #fbc02d;
}

.all-meter__cls-3 {
  fill: none;
}

.all-meter__cls-22 {
  letter-spacing: 0em;
}

.all-meter__cls-23 {
  fill: #212121;
}

.all-meter__cls-13 {
  font-size: 14.77px;
}

.all-meter__cls-24 {
  letter-spacing: 0em;
}

.all-meter__cls-25 {
  letter-spacing: 0em;
}

.all-meter__cls-26 {
  letter-spacing: 0em;
}

.all-meter__cls-27 {
  letter-spacing: -0.06em;
}

.all-meter__cls-28 {
  letter-spacing: 0.01em;
}

.all-meter__cls-29 {
  letter-spacing: 0.03em;
}

.all-meter__cls-30 {
  letter-spacing: 0em;
}
