.all-meter__cls-1 {
    fill: gray;
}

.all-meter__cls-1,
.all-meter__cls-2,
.all-meter__cls-3 {
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.all-meter__cls-4 {
    letter-spacing: 0em;
}

.all-meter__cls-5,
.all-meter__cls-6,
.all-meter__cls-7,
.all-meter__cls-8 {
    font-family: 'Inter', sans-serif;
}

.all-meter__cls-5,
.all-meter__cls-6,
.all-meter__cls-8 {
    font-size: 16.94px;
}

.all-meter__cls-5,
.all-meter__cls-9 {
    fill: #fbc02d;
}

.all-meter__cls-10 {
    letter-spacing: -.06em;
}

.all-meter__cls-11 {
    letter-spacing: -.02em;
}

.all-meter__cls-12 {
    letter-spacing: 0em;
}

.all-meter__cls-2 {
    fill: #e6e6e6;
}

.all-meter__cls-13 {
    letter-spacing: -.01em;
}

.all-meter__cls-14 {
    letter-spacing: .03em;
}

.all-meter__cls-15 {
    letter-spacing: -.01em;
}

.all-meter__cls-16 {
    letter-spacing: 0em;
}

.all-meter__cls-17 {
    letter-spacing: .01em;
}

.all-meter__cls-18 {
    letter-spacing: .01em;
}

.all-meter__cls-19 {
    letter-spacing: -.07em;
}

.all-meter__cls-20 {
    letter-spacing: -.03em;
}

.all-meter__cls-21 {
    fill: #2e3192;
}

.all-meter__cls-22 {
    letter-spacing: 0em;
}

.all-meter__cls-23 {
    letter-spacing: .02em;
}

.all-meter__cls-7 {
    font-size: 14.82px;
}

.all-meter__cls-7,
.all-meter__cls-8 {
    fill: #fff;
}

.all-meter__cls-3 {
    fill: none;
}

.all-meter__cls-24 {
    letter-spacing: 0em;
}

.all-meter__cls-25 {
    letter-spacing: .01em;
}

.all-meter__cls-26 {
    letter-spacing: 0em;
}

.all-meter__cls-27 {
    letter-spacing: .01em;
}

.all-meter__cls-28 {
    fill: #212121;
}

.all-meter__cls-29 {
    letter-spacing: 0em;
}

.all-meter__cls-30 {
    letter-spacing: 0em;
}

.all-meter__cls-31 {
    letter-spacing: 0em;
}

.all-meter__cls-32 {
    letter-spacing: -.01em;
}

.all-meter__cls-33 {
    letter-spacing: 0em;
}

.all-meter__cls-34 {
    letter-spacing: -.04em;
}

.all-meter__cls-35 {
    letter-spacing: 0em;
}

.all-meter__cls-36 {
    letter-spacing: -.01em;
}

.all-meter__cls-37 {
    letter-spacing: -.06em;
}

.all-meter__cls-38 {
    letter-spacing: -.04em;
}

.all-meter__cls-39 {
    letter-spacing: .01em;
}

.all-meter__cls-40 {
    letter-spacing: .02em;
}

.all-meter__cls-41 {
    letter-spacing: 0em;
}

.all-meter__cls-42 {
    letter-spacing: 0em;
}

.all-meter__cls-43 {
    letter-spacing: 0em;
}

.all-meter__cls-44 {
    letter-spacing: 0em;
}

.all-meter__cls-45 {
    letter-spacing: 0em;
}

.all-meter__cls-46 {
    letter-spacing: -.04em;
}
