.all-meter__cls-1 {
  fill: gray;
}

.all-meter__cls-1,
.all-meter__cls-2,
.all-meter__cls-3 {
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.all-meter__cls-5,
.all-meter__cls-6,
.all-meter__cls-7,
.all-meter__cls-8 {
  font-family: 'Inter', sans-serif;
}

.all-meter__cls-5,
.all-meter__cls-6,
.all-meter__cls-8 {
  font-size: 14.8px;
}

.all-meter__cls-5,
.all-meter__cls-9 {
  fill: #fbc02d;
}

.all-meter__cls-2 {
  fill: #e6e6e6;
}

.all-meter__cls-21 {
  fill: #2e3192;
}

.all-meter__cls-7 {
  font-size: 14.8px;
}

.all-meter__cls-7,
.all-meter__cls-8 {
  fill: #fff;
}

.all-meter__cls-3 {
  fill: none;
}

.all-meter__cls-28 {
  fill: #212121;
}
