.station-11__cls-1 {
  letter-spacing: -0.04em;
}

.station-11__cls-2 {
  letter-spacing: 0.01em;
}

.station-11__cls-3 {
  fill: #009245;
}

.station-11__cls-4 {
  letter-spacing: 0em;
}

.station-11__cls-5 {
  letter-spacing: 0em;
}

.station-11__cls-6 {
  fill: gray;
}

.station-11__cls-6,
.station-11__cls-7,
.station-11__cls-8,
.station-11__cls-9,
.station-11__cls-10,
.station-11__cls-11,
.station-11__cls-12,
.station-11__cls-13 {
  stroke-width: 2px;
}

.station-11__cls-6,
.station-11__cls-7,
.station-11__cls-8,
.station-11__cls-9,
.station-11__cls-10,
.station-11__cls-11,
.station-11__cls-12,
.station-11__cls-13,
.station-11__cls-14 {
  stroke-miterlimit: 10;
}

.station-11__cls-6,
.station-11__cls-7,
.station-11__cls-10,
.station-11__cls-12,
.station-11__cls-13,
.station-11__cls-14 {
  stroke: #000;
}

.station-11__cls-15 {
  letter-spacing: 0em;
}

.station-11__cls-16 {
  letter-spacing: 0em;
}

.station-11__cls-17 {
  fill: #00e5ff;
}

.station-11__cls-17,
.station-11__cls-18,
.station-11__cls-19,
.station-11__cls-20,
.station-11__cls-21,
.station-11__cls-22,
.station-11__cls-23,
.station-11__cls-24,
.station-11__cls-25 {
  font-family: 'Inter', sans-serif;
}

.station-11__cls-17,
.station-11__cls-19,
.station-11__cls-20,
.station-11__cls-22,
.station-11__cls-23,
.station-11__cls-25 {
  font-size: 24.76px;
}

.station-11__cls-26 {
  letter-spacing: -0.03em;
}

.station-11__cls-27 {
  letter-spacing: -0.02em;
}

.station-11__cls-28,
.station-11__cls-21,
.station-11__cls-9,
.station-11__cls-22,
.station-11__cls-11,
.station-11__cls-12,
.station-11__cls-13,
.station-11__cls-14 {
  fill: #fff;
}

.station-11__cls-18,
.station-11__cls-21,
.station-11__cls-24 {
  font-size: 21.66px;
}

.station-11__cls-29 {
  letter-spacing: -0.04em;
}

.station-11__cls-30 {
  letter-spacing: 0em;
}

.station-11__cls-19 {
  fill: #d4145a;
}

.station-11__cls-31 {
  letter-spacing: -0.02em;
}

.station-11__cls-7 {
  fill: #e6e6e6;
}

.station-11__cls-32 {
  letter-spacing: 0em;
}

.station-11__cls-33 {
  letter-spacing: -0.04em;
}

.station-11__cls-34 {
  letter-spacing: -0.06em;
}

.station-11__cls-35 {
  letter-spacing: -0.05em;
}

.station-11__cls-8,
.station-11__cls-9,
.station-11__cls-11 {
  stroke: #66bb6a;
}

.station-11__cls-8,
.station-11__cls-10 {
  fill: none;
}

.station-11__cls-36 {
  letter-spacing: 0em;
}

.station-11__cls-37 {
  letter-spacing: 0.01em;
}

.station-11__cls-38 {
  letter-spacing: -0.03em;
}

.station-11__cls-39 {
  letter-spacing: 0em;
}

.station-11__cls-40 {
  letter-spacing: 0.01em;
}

.station-11__cls-20,
.station-11__cls-41 {
  fill: #fbc02d;
}

.station-11__cls-42 {
  letter-spacing: 0.01em;
}

.station-11__cls-43 {
  letter-spacing: -0.02em;
}

.station-11__cls-9,
.station-11__cls-12,
.station-11__cls-14 {
  stroke-linecap: round;
}

.station-11__cls-44 {
  letter-spacing: 0em;
}

.station-11__cls-45 {
  letter-spacing: -0.01em;
}

.station-11__cls-46 {
  letter-spacing: -0.03em;
}

.station-11__cls-47 {
  letter-spacing: -0.02em;
}

.station-11__cls-48 {
  letter-spacing: 0em;
}

.station-11__cls-49 {
  letter-spacing: 0em;
}

.station-11__cls-50 {
  fill: #66bb6a;
}

.station-11__cls-51 {
  letter-spacing: 0em;
}

.station-11__cls-52 {
  letter-spacing: 0em;
}

.station-11__cls-53 {
  letter-spacing: 0em;
}

.station-11__cls-54 {
  letter-spacing: -0.01em;
}

.station-11__cls-55 {
  letter-spacing: 0.03em;
}

.station-11__cls-56 {
  letter-spacing: -0.08em;
}

.station-11__cls-57 {
  letter-spacing: -0.01em;
}

.station-11__cls-58 {
  fill: #212121;
}

.station-11__cls-59 {
  letter-spacing: 0em;
}

.station-11__cls-60 {
  letter-spacing: 0.03em;
}

.station-11__cls-61 {
  letter-spacing: 0em;
}

.station-11__cls-62 {
  letter-spacing: 0.01em;
}

.station-11__cls-63 {
  letter-spacing: -0.04em;
}

.station-11__cls-64 {
  letter-spacing: 0.05em;
}

.station-11__cls-65 {
  letter-spacing: 0em;
}

.station-11__cls-66 {
  letter-spacing: -0.04em;
}

.station-11__cls-23,
.station-11__cls-24 {
  fill: #2e3192;
}

.station-11__cls-67 {
  letter-spacing: 0em;
}

.station-11__cls-68 {
  letter-spacing: 0em;
}

.station-11__cls-69 {
  letter-spacing: 0em;
}

.station-11__cls-70 {
  letter-spacing: -0.02em;
}

.station-11__cls-71 {
  letter-spacing: 0em;
}

.station-11__cls-72 {
  letter-spacing: 0em;
}

.station-11__cls-73 {
  letter-spacing: 0em;
}

.station-11__cls-74 {
  letter-spacing: 0em;
}

.station-11__cls-75 {
  letter-spacing: 0em;
}

.station-11__cls-76 {
  letter-spacing: -0.06em;
}

.station-11__cls-77 {
  letter-spacing: 0.04em;
}

.station-11__cls-78 {
  letter-spacing: -0.01em;
}

.station-11__cls-79 {
  letter-spacing: 0em;
}

.station-11__cls-80 {
  letter-spacing: -0.03em;
}
