#Layer_10 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.station-52__cls-1 {
  fill: #009245;
}

.station-52__cls-2 {
  fill: gray;
}

.station-52__cls-2,
.station-52__cls-3,
.station-52__cls-4,
.station-52__cls-5,
.station-52__cls-6,
.station-52__cls-7,
.station-52__cls-8,
.station-52__cls-9,
.station-52__cls-10 {
  stroke-miterlimit: 10;
}

.station-52__cls-2,
.station-52__cls-3,
.station-52__cls-4,
.station-52__cls-5,
.station-52__cls-6,
.station-52__cls-7,
.station-52__cls-9,
.station-52__cls-10 {
  stroke-width: 2px;
}

.station-52__cls-2,
.station-52__cls-3,
.station-52__cls-6,
.station-52__cls-9,
.station-52__cls-10 {
  stroke: #000;
}

.station-52__cls-12,
.station-52__cls-13,
.station-52__cls-14,
.station-52__cls-15,
.station-52__cls-16,
.station-52__cls-17,
.station-52__cls-18,
.station-52__cls-19,
.station-52__cls-20 {
  font-family: 'Inter', sans-serif;
}

.station-52__cls-12,
.station-52__cls-21,
.station-52__cls-14 {
  fill: #2e3192;
}

.station-52__cls-12,
.station-52__cls-15,
.station-52__cls-17,
.station-52__cls-18,
.station-52__cls-19,
.station-52__cls-20 {
  font-size: 18px;
}

.station-52__cls-23,
.station-52__cls-13,
.station-52__cls-5,
.station-52__cls-7,
.station-52__cls-8,
.station-52__cls-9,
.station-52__cls-17,
.station-52__cls-10 {
  fill: #fff;
}

.station-52__cls-3 {
  fill: #e6e6e6;
}

.station-52__cls-4,
.station-52__cls-5,
.station-52__cls-7,
.station-52__cls-8 {
  stroke: #66bb6a;
}

.station-52__cls-4,
.station-52__cls-6 {
  fill: none;
}

.station-52__cls-13,
.station-52__cls-14,
.station-52__cls-16 {
  font-size: 18px;
}

.station-52__cls-5,
.station-52__cls-8,
.station-52__cls-9 {
  stroke-linecap: round;
}

.station-52__cls-53,
.station-52__cls-19 {
  fill: #fbc02d;
}

.station-52__cls-55 {
  fill: #66bb6a;
}

.station-52__cls-15 {
  fill: #00e5ff;
}

.station-52__cls-62 {
  fill: #212121;
}

.station-52__cls-20 {
  fill: #d4145a;
}
