.station-52__cls-1 {
  fill: #009245;
}

.station-52__cls-2 {
  fill: gray;
}

.station-52__cls-2,
.station-52__cls-3,
.station-52__cls-4,
.station-52__cls-5,
.station-52__cls-6,
.station-52__cls-7,
.station-52__cls-8,
.station-52__cls-9,
.station-52__cls-10 {
  stroke-miterlimit: 10;
}

.station-52__cls-2,
.station-52__cls-3,
.station-52__cls-4,
.station-52__cls-5,
.station-52__cls-6,
.station-52__cls-7,
.station-52__cls-9,
.station-52__cls-10 {
  stroke-width: 2px;
}

.station-52__cls-2,
.station-52__cls-3,
.station-52__cls-6,
.station-52__cls-9,
.station-52__cls-10 {
  stroke: #000;
}

.station-52__cls-11 {
  letter-spacing: -0.06em;
}

.station-52__cls-12,
.station-52__cls-13,
.station-52__cls-14,
.station-52__cls-15,
.station-52__cls-16,
.station-52__cls-17,
.station-52__cls-18,
.station-52__cls-19,
.station-52__cls-20 {
  font-family: 'Inter', sans-serif;
}

.station-52__cls-12,
.station-52__cls-21,
.station-52__cls-14 {
  fill: #2e3192;
}

.station-52__cls-12,
.station-52__cls-15,
.station-52__cls-17,
.station-52__cls-18,
.station-52__cls-19,
.station-52__cls-20 {
  font-size: 21.71px;
}

.station-52__cls-22 {
  letter-spacing: 0em;
}

.station-52__cls-23,
.station-52__cls-13,
.station-52__cls-5,
.station-52__cls-7,
.station-52__cls-8,
.station-52__cls-9,
.station-52__cls-17,
.station-52__cls-10 {
  fill: #fff;
}

.station-52__cls-24 {
  letter-spacing: 0.01em;
}

.station-52__cls-25 {
  letter-spacing: -0.03em;
}

.station-52__cls-26 {
  letter-spacing: 0em;
}

.station-52__cls-27 {
  letter-spacing: 0em;
}

.station-52__cls-28 {
  letter-spacing: 0em;
}

.station-52__cls-3 {
  fill: #e6e6e6;
}

.station-52__cls-29 {
  letter-spacing: 0em;
}

.station-52__cls-30 {
  letter-spacing: 0.05em;
}

.station-52__cls-31 {
  letter-spacing: -0.02em;
}

.station-52__cls-32 {
  letter-spacing: -0.04em;
}

.station-52__cls-33 {
  letter-spacing: 0em;
}

.station-52__cls-34 {
  letter-spacing: 0em;
}

.station-52__cls-35 {
  letter-spacing: 0em;
}

.station-52__cls-4,
.station-52__cls-5,
.station-52__cls-7,
.station-52__cls-8 {
  stroke: #66bb6a;
}

.station-52__cls-4,
.station-52__cls-6 {
  fill: none;
}

.station-52__cls-36 {
  letter-spacing: 0em;
}

.station-52__cls-37 {
  letter-spacing: 0.01em;
}

.station-52__cls-38 {
  letter-spacing: -0.06em;
}

.station-52__cls-39 {
  letter-spacing: 0em;
}

.station-52__cls-40 {
  letter-spacing: 0em;
}

.station-52__cls-13,
.station-52__cls-14,
.station-52__cls-16 {
  font-size: 18.99px;
}

.station-52__cls-41 {
  letter-spacing: 0em;
}

.station-52__cls-42 {
  letter-spacing: 0em;
}

.station-52__cls-43 {
  letter-spacing: -0.03em;
}

.station-52__cls-5,
.station-52__cls-8,
.station-52__cls-9 {
  stroke-linecap: round;
}

.station-52__cls-44 {
  letter-spacing: 0em;
}

.station-52__cls-45 {
  letter-spacing: -0.04em;
}

.station-52__cls-46 {
  letter-spacing: -0.04em;
}

.station-52__cls-47 {
  letter-spacing: -0.03em;
}

.station-52__cls-48 {
  letter-spacing: 0em;
}

.station-52__cls-49 {
  letter-spacing: 0em;
}

.station-52__cls-50 {
  letter-spacing: 0em;
}

.station-52__cls-51 {
  letter-spacing: 0em;
}

.station-52__cls-52 {
  letter-spacing: 0em;
}

.station-52__cls-53,
.station-52__cls-19 {
  fill: #fbc02d;
}

.station-52__cls-54 {
  letter-spacing: 0.03em;
}

.station-52__cls-55 {
  fill: #66bb6a;
}

.station-52__cls-56 {
  letter-spacing: -0.04em;
}

.station-52__cls-57 {
  letter-spacing: 0em;
}

.station-52__cls-58 {
  letter-spacing: 0.01em;
}

.station-52__cls-59 {
  letter-spacing: 0.02em;
}

.station-52__cls-60 {
  letter-spacing: 0em;
}

.station-52__cls-61 {
  letter-spacing: 0em;
}

.station-52__cls-15 {
  fill: #00e5ff;
}

.station-52__cls-62 {
  fill: #212121;
}

.station-52__cls-63 {
  letter-spacing: 0em;
}

.station-52__cls-64 {
  letter-spacing: -0.01em;
}

.station-52__cls-65 {
  letter-spacing: 0em;
}

.station-52__cls-66 {
  letter-spacing: -0.02em;
}

.station-52__cls-67 {
  letter-spacing: 0.03em;
}

.station-52__cls-68 {
  letter-spacing: 0em;
}

.station-52__cls-69 {
  letter-spacing: -0.01em;
}

.station-52__cls-70 {
  letter-spacing: 0em;
}

.station-52__cls-71 {
  letter-spacing: -0.04em;
}

.station-52__cls-72 {
  letter-spacing: -0.03em;
}

.station-52__cls-73 {
  letter-spacing: 0em;
}

.station-52__cls-74 {
  letter-spacing: -0.02em;
}

.station-52__cls-75 {
  letter-spacing: -0.01em;
}

.station-52__cls-76 {
  letter-spacing: 0em;
}

.station-52__cls-77 {
  letter-spacing: -0.01em;
}

.station-52__cls-78 {
  letter-spacing: -0.01em;
}

.station-52__cls-79 {
  letter-spacing: -0.02em;
}

.station-52__cls-80 {
  letter-spacing: 0em;
}

.station-52__cls-81 {
  letter-spacing: 0em;
}

.station-52__cls-82 {
  letter-spacing: 0.04em;
}

.station-52__cls-83 {
  letter-spacing: -0.07em;
}

.station-52__cls-84 {
  letter-spacing: 0em;
}

.station-52__cls-85 {
  letter-spacing: -0.02em;
}

.station-52__cls-86 {
  letter-spacing: -0.04em;
}

.station-52__cls-87 {
  letter-spacing: 0em;
}

.station-52__cls-88 {
  letter-spacing: 0em;
}

.station-52__cls-89 {
  letter-spacing: -0.03em;
}

.station-52__cls-90 {
  letter-spacing: 0em;
}

.station-52__cls-91 {
  letter-spacing: -0.06em;
}

.station-52__cls-92 {
  letter-spacing: 0.01em;
}

.station-52__cls-93 {
  letter-spacing: -0.04em;
}

.station-52__cls-20 {
  fill: #d4145a;
}

.station-52__cls-94 {
  letter-spacing: -0.02em;
}

.station-52__cls-95 {
  letter-spacing: -0.02em;
}
