.station-31__cls-1 {
  fill: #009245;
}

.station-31__cls-2 {
  fill: gray;
}

.station-31__cls-2,
.station-31__cls-3,
.station-31__cls-4,
.station-31__cls-5,
.station-31__cls-6,
.station-31__cls-7,
.station-31__cls-8,
.station-31__cls-9 {
  stroke-width: 2px;
}

.station-31__cls-2,
.station-31__cls-3,
.station-31__cls-4,
.station-31__cls-5,
.station-31__cls-6,
.station-31__cls-7,
.station-31__cls-8,
.station-31__cls-9,
.station-31__cls-10 {
  stroke-miterlimit: 10;
}

.station-31__cls-2,
.station-31__cls-3,
.station-31__cls-6,
.station-31__cls-8,
.station-31__cls-9,
.station-31__cls-10 {
  stroke: #000;
}

.station-31__cls-11,
.station-31__cls-12,
.station-31__cls-5,
.station-31__cls-13,
.station-31__cls-7,
.station-31__cls-8,
.station-31__cls-9,
.station-31__cls-10 {
  fill: #fff;
}

.station-31__cls-14 {
  letter-spacing: -0.02em;
}

.station-31__cls-15 {
  letter-spacing: 0.04em;
}

.station-31__cls-16 {
  letter-spacing: -0.06em;
}

.station-31__cls-17 {
  letter-spacing: 0.01em;
}

.station-31__cls-18,
.station-31__cls-12,
.station-31__cls-19,
.station-31__cls-20,
.station-31__cls-21,
.station-31__cls-13,
.station-31__cls-22,
.station-31__cls-23,
.station-31__cls-24 {
  font-family: MyriadPro-Regular, 'Myriad Pro';
}

.station-31__cls-18,
.station-31__cls-21,
.station-31__cls-13,
.station-31__cls-22,
.station-31__cls-23,
.station-31__cls-24 {
  font-size: 23.46px;
}

.station-31__cls-25 {
  letter-spacing: -0.05em;
}

.station-31__cls-26 {
  letter-spacing: -0.02em;
}

.station-31__cls-27 {
  letter-spacing: 0em;
}

.station-31__cls-28 {
  letter-spacing: -0.01em;
}

.station-31__cls-29 {
  letter-spacing: -0.02em;
}

.station-31__cls-30 {
  letter-spacing: 0em;
}

.station-31__cls-3 {
  fill: #e6e6e6;
}

.station-31__cls-31 {
  letter-spacing: -0.03em;
}

.station-31__cls-32 {
  letter-spacing: 0em;
}

.station-31__cls-33 {
  letter-spacing: 0.01em;
}

.station-31__cls-34 {
  letter-spacing: 0em;
}

.station-31__cls-35 {
  letter-spacing: 0em;
}

.station-31__cls-12,
.station-31__cls-19,
.station-31__cls-20 {
  font-size: 20.52px;
}

.station-31__cls-36 {
  letter-spacing: 0.01em;
}

.station-31__cls-37 {
  letter-spacing: 0em;
}

.station-31__cls-38 {
  letter-spacing: 0em;
}

.station-31__cls-4,
.station-31__cls-5,
.station-31__cls-7 {
  stroke: #66bb6a;
}

.station-31__cls-4,
.station-31__cls-6 {
  fill: none;
}

.station-31__cls-39 {
  letter-spacing: 0em;
}

.station-31__cls-40 {
  letter-spacing: -0.01em;
}

.station-31__cls-41 {
  letter-spacing: 0.03em;
}

.station-31__cls-19,
.station-31__cls-42,
.station-31__cls-24 {
  fill: #2e3192;
}

.station-31__cls-43 {
  letter-spacing: 0em;
}

.station-31__cls-44 {
  letter-spacing: -0.04em;
}

.station-31__cls-5,
.station-31__cls-8,
.station-31__cls-10 {
  stroke-linecap: round;
}

.station-31__cls-45 {
  letter-spacing: -0.03em;
}

.station-31__cls-46 {
  letter-spacing: -0.03em;
}

.station-31__cls-47 {
  letter-spacing: 0.01em;
}

.station-31__cls-48 {
  letter-spacing: 0em;
}

.station-31__cls-49 {
  letter-spacing: -0.02em;
}

.station-31__cls-50 {
  letter-spacing: 0em;
}

.station-31__cls-51 {
  letter-spacing: -0.04em;
}

.station-31__cls-52 {
  letter-spacing: 0.05em;
}

.station-31__cls-53 {
  letter-spacing: 0em;
}

.station-31__cls-54 {
  letter-spacing: 0em;
}

.station-31__cls-55,
.station-31__cls-22 {
  fill: #fbc02d;
}

.station-31__cls-56 {
  fill: #66bb6a;
}

.station-31__cls-57 {
  letter-spacing: 0.01em;
}

.station-31__cls-58 {
  letter-spacing: 0em;
}

.station-31__cls-59 {
  letter-spacing: 0em;
}

.station-31__cls-60 {
  letter-spacing: 0em;
}

.station-31__cls-61 {
  letter-spacing: 0em;
}

.station-31__cls-62 {
  letter-spacing: -0.04em;
}

.station-31__cls-21 {
  fill: #d4145a;
}

.station-31__cls-63 {
  fill: #212121;
}

.station-31__cls-64 {
  letter-spacing: -0.04em;
}

.station-31__cls-65 {
  letter-spacing: 0em;
}

.station-31__cls-66 {
  letter-spacing: 0.01em;
}

.station-31__cls-67 {
  letter-spacing: 0em;
}

.station-31__cls-68 {
  letter-spacing: 0em;
}

.station-31__cls-69 {
  letter-spacing: -0.02em;
}

.station-31__cls-70 {
  letter-spacing: 0em;
}

.station-31__cls-71 {
  letter-spacing: 0em;
}

.station-31__cls-72 {
  letter-spacing: 0em;
}

.station-31__cls-73 {
  letter-spacing: -0.01em;
}

.station-31__cls-74 {
  letter-spacing: 0em;
}

.station-31__cls-75 {
  letter-spacing: -0.06em;
}

.station-31__cls-76 {
  letter-spacing: 0em;
}

.station-31__cls-77 {
  letter-spacing: 0em;
}

.station-31__cls-78 {
  letter-spacing: -0.07em;
}

.station-31__cls-23 {
  fill: #00e5ff;
}

.station-31__cls-79 {
  letter-spacing: 0em;
}

.station-31__cls-80 {
  letter-spacing: -0.01em;
}

.station-31__cls-81 {
  letter-spacing: 0em;
}
