.station-31__cls-1 {
  fill: #009245;
}

.station-31__cls-3 {
  fill: gray;
}

.station-31__cls-3,
.station-31__cls-4,
.station-31__cls-5,
.station-31__cls-6,
.station-31__cls-7,
.station-31__cls-8,
.station-31__cls-9,
.station-31__cls-10 {
  stroke-width: 2px;
}

.station-31__cls-3,
.station-31__cls-4,
.station-31__cls-5,
.station-31__cls-6,
.station-31__cls-7,
.station-31__cls-8,
.station-31__cls-9,
.station-31__cls-10,
.station-31__cls-11 {
  stroke-miterlimit: 10;
}

.station-31__cls-3,
.station-31__cls-4,
.station-31__cls-7,
.station-31__cls-9,
.station-31__cls-10,
.station-31__cls-11 {
  stroke: #000;
}

.station-31__cls-15,
.station-31__cls-6,
.station-31__cls-16,
.station-31__cls-8,
.station-31__cls-17,
.station-31__cls-9,
.station-31__cls-10,
.station-31__cls-11 {
  fill: #fff;
}

.station-31__cls-19 {
  fill: #00e5ff;
}

.station-31__cls-19,
.station-31__cls-20,
.station-31__cls-21,
.station-31__cls-22,
.station-31__cls-16,
.station-31__cls-23,
.station-31__cls-24,
.station-31__cls-17,
.station-31__cls-25 {
  font-family: 'Inter', sans-serif;
}

.station-31__cls-19,
.station-31__cls-20,
.station-31__cls-16,
.station-31__cls-23,
.station-31__cls-24,
.station-31__cls-25 {
  font-size: 18px;
}

.station-31__cls-20 {
  fill: #d4145a;
}

.station-31__cls-4 {
  fill: #e6e6e6;
}

.station-31__cls-21,
.station-31__cls-22,
.station-31__cls-17 {
  font-size: 18px;
}

.station-31__cls-5,
.station-31__cls-6,
.station-31__cls-8 {
  stroke: #66bb6a;
}

.station-31__cls-5,
.station-31__cls-7 {
  fill: none;
}

.station-31__cls-6,
.station-31__cls-9,
.station-31__cls-11 {
  stroke-linecap: round;
}

.station-31__cls-22,
.station-31__cls-23 {
  fill: #2e3192;
}

.station-31__cls-51,
.station-31__cls-24 {
  fill: #fbc02d;
}

.station-31__cls-53 {
  fill: #66bb6a;
}

.station-31__cls-58 {
  fill: #212121;
}
