.station-12__cls-1 {
  fill: #009245;
}

.station-12__cls-4 {
  fill: gray;
}

.station-12__cls-4,
.station-12__cls-5,
.station-12__cls-6,
.station-12__cls-7,
.station-12__cls-8,
.station-12__cls-9,
.station-12__cls-10,
.station-12__cls-11,
.station-12__cls-12 {
  stroke-width: 2px;
}

.station-12__cls-4,
.station-12__cls-5,
.station-12__cls-6,
.station-12__cls-7,
.station-12__cls-8,
.station-12__cls-9,
.station-12__cls-10,
.station-12__cls-11,
.station-12__cls-12,
.station-12__cls-13 {
  stroke-miterlimit: 10;
}

.station-12__cls-4,
.station-12__cls-5,
.station-12__cls-8,
.station-12__cls-9,
.station-12__cls-11,
.station-12__cls-12,
.station-12__cls-13 {
  stroke: #000;
}

.station-12__cls-16,
.station-12__cls-17,
.station-12__cls-7,
.station-12__cls-18,
.station-12__cls-10,
.station-12__cls-11,
.station-12__cls-12,
.station-12__cls-13 {
  fill: #fff;
}

.station-12__cls-5 {
  fill: #e6e6e6;
}

.station-12__cls-6,
.station-12__cls-7,
.station-12__cls-10 {
  stroke: #66bb6a;
}

.station-12__cls-6,
.station-12__cls-9 {
  fill: none;
}

.station-12__cls-17,
.station-12__cls-34,
.station-12__cls-35,
.station-12__cls-36,
.station-12__cls-18,
.station-12__cls-37,
.station-12__cls-38,
.station-12__cls-39,
.station-12__cls-40 {
  font-family: 'Inter', sans-serif;
}

.station-12__cls-17,
.station-12__cls-34,
.station-12__cls-35,
.station-12__cls-36,
.station-12__cls-38,
.station-12__cls-40 {
  font-size: 14px;
}

.station-12__cls-7,
.station-12__cls-11,
.station-12__cls-13 {
  stroke-linecap: round;
}

.station-12__cls-35 {
  fill: #00e5ff;
}

.station-12__cls-36 {
  fill: #d4145a;
}

.station-12__cls-61,
.station-12__cls-37,
.station-12__cls-38 {
  fill: #2e3192;
}

.station-12__cls-65,
.station-12__cls-40 {
  fill: #fbc02d;
}

.station-12__cls-68 {
  fill: #66bb6a;
}

.station-12__cls-18,
.station-12__cls-37,
.station-12__cls-39 {
  font-size: 14px;
}

.station-12__cls-77 {
  fill: #212121;
}

.station-12__cls-34 {
  font-size: 14px;
  text-anchor: left;
}
