.station-12__cls-1 {
    fill: #009245;
}

.station-12__cls-2 {
    letter-spacing: -.06em;
}

.station-12__cls-3 {
    letter-spacing: -.03em;
}

.station-12__cls-4 {
    fill: gray;
}

.station-12__cls-4,
.station-12__cls-5,
.station-12__cls-6,
.station-12__cls-7,
.station-12__cls-8,
.station-12__cls-9,
.station-12__cls-10,
.station-12__cls-11,
.station-12__cls-12 {
    stroke-width: 2px;
}

.station-12__cls-4,
.station-12__cls-5,
.station-12__cls-6,
.station-12__cls-7,
.station-12__cls-8,
.station-12__cls-9,
.station-12__cls-10,
.station-12__cls-11,
.station-12__cls-12,
.station-12__cls-13 {
    stroke-miterlimit: 10;
}

.station-12__cls-4,
.station-12__cls-5,
.station-12__cls-8,
.station-12__cls-9,
.station-12__cls-11,
.station-12__cls-12,
.station-12__cls-13 {
    stroke: #000;
}

.station-12__cls-14 {
    letter-spacing: 0em;
}

.station-12__cls-15 {
    letter-spacing: 0em;
}

.station-12__cls-16,
.station-12__cls-17,
.station-12__cls-7,
.station-12__cls-18,
.station-12__cls-10,
.station-12__cls-11,
.station-12__cls-12,
.station-12__cls-13 {
    fill: #fff;
}

.station-12__cls-19 {
    letter-spacing: -.01em;
}

.station-12__cls-20 {
    letter-spacing: -.03em;
}

.station-12__cls-21 {
    letter-spacing: 0em;
}

.station-12__cls-22 {
    letter-spacing: -.03em;
}

.station-12__cls-23 {
    letter-spacing: .03em;
}

.station-12__cls-24 {
    letter-spacing: 0em;
}

.station-12__cls-25 {
    letter-spacing: .02em;
}

.station-12__cls-26 {
    letter-spacing: .05em;
}

.station-12__cls-27 {
    letter-spacing: 0em;
}

.station-12__cls-28 {
    letter-spacing: 0em;
}

.station-12__cls-5 {
    fill: #e6e6e6;
}

.station-12__cls-29 {
    letter-spacing: -.02em;
}

.station-12__cls-30 {
    letter-spacing: 0em;
}

.station-12__cls-31 {
    letter-spacing: .01em;
}

.station-12__cls-6,
.station-12__cls-7,
.station-12__cls-10 {
    stroke: #66bb6a;
}

.station-12__cls-6,
.station-12__cls-9 {
    fill: none;
}

.station-12__cls-32 {
    letter-spacing: -.04em;
}

.station-12__cls-33 {
    letter-spacing: -.01em;
}

.station-12__cls-17,
.station-12__cls-34,
.station-12__cls-35,
.station-12__cls-36,
.station-12__cls-18,
.station-12__cls-37,
.station-12__cls-38,
.station-12__cls-39,
.station-12__cls-40 {
    font-family: 'Inter', sans-serif;
}

.station-12__cls-17,
.station-12__cls-34,
.station-12__cls-35,
.station-12__cls-36,
.station-12__cls-38,
.station-12__cls-40 {
    font-size: 16.15px;
}

.station-12__cls-41 {
    letter-spacing: .01em;
}

.station-12__cls-42 {
    letter-spacing: 0em;
}

.station-12__cls-43 {
    letter-spacing: -.04em;
}

.station-12__cls-44 {
    letter-spacing: 0em;
}

.station-12__cls-45 {
    letter-spacing: -.02em;
}

.station-12__cls-46 {
    letter-spacing: 0em;
}

.station-12__cls-47 {
    letter-spacing: 0em;
}

.station-12__cls-48 {
    letter-spacing: -.01em;
}

.station-12__cls-49 {
    letter-spacing: -.01em;
}

.station-12__cls-50 {
    letter-spacing: 0em;
}

.station-12__cls-7,
.station-12__cls-11,
.station-12__cls-13 {
    stroke-linecap: round;
}

.station-12__cls-35 {
    fill: #00e5ff;
}

.station-12__cls-51 {
    letter-spacing: 0em;
}

.station-12__cls-52 {
    letter-spacing: .01em;
}

.station-12__cls-53 {
    letter-spacing: -.02em;
}

.station-12__cls-54 {
    letter-spacing: -.03em;
}

.station-12__cls-55 {
    letter-spacing: 0em;
}

.station-12__cls-56 {
    letter-spacing: 0em;
}

.station-12__cls-57 {
    letter-spacing: -.07em;
}

.station-12__cls-36 {
    fill: #d4145a;
}

.station-12__cls-58 {
    letter-spacing: 0em;
}

.station-12__cls-59 {
    letter-spacing: 0em;
}

.station-12__cls-60 {
    letter-spacing: 0em;
}

.station-12__cls-61,
.station-12__cls-37,
.station-12__cls-38 {
    fill: #2e3192;
}

.station-12__cls-62 {
    letter-spacing: 0em;
}

.station-12__cls-63 {
    letter-spacing: -.04em;
}

.station-12__cls-64 {
    letter-spacing: 0em;
}

.station-12__cls-65,
.station-12__cls-40 {
    fill: #fbc02d;
}

.station-12__cls-66 {
    letter-spacing: 0em;
}

.station-12__cls-67 {
    letter-spacing: 0em;
}

.station-12__cls-68 {
    fill: #66bb6a;
}

.station-12__cls-69 {
    letter-spacing: -.01em;
}

.station-12__cls-18,
.station-12__cls-37,
.station-12__cls-39 {
    font-size: 14.13px;
}

.station-12__cls-70 {
    letter-spacing: -.08em;
}

.station-12__cls-71 {
    letter-spacing: -.01em;
}

.station-12__cls-72 {
    letter-spacing: -.03em;
}

.station-12__cls-73 {
    letter-spacing: -.04em;
}

.station-12__cls-74 {
    letter-spacing: 0em;
}

.station-12__cls-75 {
    letter-spacing: -.06em;
}

.station-12__cls-76 {
    letter-spacing: 0em;
}

.station-12__cls-77 {
    fill: #212121;
}

.station-12__cls-78 {
    letter-spacing: -.01em;
}

.station-12__cls-79 {
    letter-spacing: 0em;
}

.station-12__cls-80 {
    letter-spacing: 0em;
}

.station-12__cls-81 {
    letter-spacing: -.04em;
}

.station-12__cls-82 {
    letter-spacing: .01em;
}

.station-12__cls-83 {
    letter-spacing: 0em;
}

.station-12__cls-84 {
    letter-spacing: 0em;
}

.station-12__cls-85 {
    letter-spacing: .01em;
}

.station-12__cls-86 {
    letter-spacing: 0em;
}

.station-12__cls-87 {
    letter-spacing: 0em;
}

.station-12__cls-88 {
    letter-spacing: -.04em;
}

.station-12__cls-89 {
    letter-spacing: -.02em;
}

.station-12__cls-90 {
    letter-spacing: 0em;
}

.station-12__cls-91 {
    letter-spacing: .04em;
}

.station-12__cls-92 {
    letter-spacing: 0em;
}

.station-12__cls-93 {
    letter-spacing: -.03em;
}

.station-12__cls-94 {
    letter-spacing: -.01em;
}

.station-12__cls-95 {
    letter-spacing: .01em;
}
