#Layer_1 {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.main__cls-2 {
  fill: gray;
}

.main__cls-2,
.main__cls-3,
.main__cls-4,
.main__cls-5,
.main__cls-6,
.main__cls-7,
.main__cls-8,
.main__cls-9,
.main__cls-10,
.main__cls-11 {
  stroke-miterlimit: 10;
}

.main__cls-2,
.main__cls-3,
.main__cls-4,
.main__cls-5,
.main__cls-6,
.main__cls-7,
.main__cls-8,
.main__cls-10,
.main__cls-11 {
  stroke-width: 2px;
}

.main__cls-2,
.main__cls-3,
.main__cls-7,
.main__cls-10,
.main__cls-11 {
  stroke: #000;
}

.main__cls-3 {
  fill: #e6e6e6;
}

.main__cls-20,
.main__cls-21,
.main__cls-22,
.main__cls-23,
.main__cls-24,
.main__cls-25,
.main__cls-26,
.main__cls-27 {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.main__cls-18,
.main__cls-19,
.main__cls-27 {
  font-size: 15px;
}

.main__cls-18,
.main__cls-20,
.main__cls-28,
.main__cls-25 {
  fill: #2e3192;
}

.main__cls-20,
.main__cls-5,
.main__cls-8,
.main__cls-9,
.main__cls-10,
.main__cls-11,
.main__cls-28 {
  fill: #fff;
}

.main__cls-20,
.main__cls-22,
.main__cls-24 {
  font-size: 15px;
}

.main__cls-4,
.main__cls-5,
.main__cls-8,
.main__cls-9 {
  stroke: #66bb6a;
}

.main__cls-4,
.main__cls-6,
.main__cls-7 {
  fill: none;
}

.main__cls-21 {
  fill: #00e5ff;
}

.main__cls-21,
.main__cls-23,
.main__cls-25,
.main__cls-26,
.main__cls-27,
.main__cls-28 {
  font-size: 15px;
}

.main__cls-5,
.main__cls-9,
.main__cls-10 {
  stroke-linecap: round;
}

.main__cls-41,
.main__cls-24,
.main__cls-26 {
  fill: #2e3192;
}

.main__cls-6 {
  stroke: #231f20;
}

.main__cls-23,
.main__cls-47 {
  fill: #fbc02d;
}

.main__cls-49,
.main__cls-50 {
  fill: #66bb6a;
}

.main__cls-31,
.main__cls-32 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.main__cls-55 {
  fill: #212121;
}

.main__cls-27 {
  fill: #d4145a;
}
