/* :root {
  --cell-width: calc(100% / 7);
  --cell-height: 110px;
  --border-color: #e7e7e9;
}

.rdp-month {
  width: 100%;
  max-width: 1296px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.rdp-table {
  width: 100%;
  max-width: 1296px;
  border-collapse: collapse;
}

.rdp-table td,
.rdp-table th {
  border: 1px solid var(--border-color);
}

.rdp-table tr:last-child > td {
  border-bottom-color: transparent;
}

.rdp-table tr > td:last-child,
.rdp-table .rdp-head_row > .rdp-head_cell:last-child {
  border-right-color: transparent;
}

.rdp-table tr > td:first-child,
.rdp-table .rdp-head_row > .rdp-head_cell:first-child {
  border-left-color: transparent;
}

.rdp-head_cell {
  height: 40px;
  text-transform: capitalize;
}

.rdp-cell {
  width: var(--cell-width);
  height: var(--cell-height);
}

.rdp-day {
  width: 100%;
  height: var(--cell-height);
}

@media screen and (max-width: 1199px) {
  :root {
    --cell-height: 56px;
  }
} */
