#Layer_8 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.station-34__cls-1 {
  fill: #009245;
}

.station-34__cls-3,
.station-34__cls-4 {
  fill: #2e3192;
}

.station-34__cls-3,
.station-34__cls-4,
.station-34__cls-5,
.station-34__cls-6,
.station-34__cls-7,
.station-34__cls-8,
.station-34__cls-9,
.station-34__cls-10,
.station-34__cls-11 {
  font-family: 'Inter', sans-serif;
}

.station-34__cls-3,
.station-34__cls-8,
.station-34__cls-10 {
  font-size: 18px;
}

.station-34__cls-12 {
  fill: gray;
}

.station-34__cls-12,
.station-34__cls-13,
.station-34__cls-14,
.station-34__cls-15,
.station-34__cls-16,
.station-34__cls-17,
.station-34__cls-18,
.station-34__cls-19 {
  stroke-width: 2px;
}

.station-34__cls-12,
.station-34__cls-13,
.station-34__cls-14,
.station-34__cls-15,
.station-34__cls-16,
.station-34__cls-17,
.station-34__cls-18,
.station-34__cls-19,
.station-34__cls-20 {
  stroke-miterlimit: 10;
}

.station-34__cls-12,
.station-34__cls-13,
.station-34__cls-16,
.station-34__cls-18,
.station-34__cls-19,
.station-34__cls-20 {
  stroke: #000;
}

.station-34__cls-24,
.station-34__cls-15,
.station-34__cls-7,
.station-34__cls-17,
.station-34__cls-18,
.station-34__cls-19,
.station-34__cls-20,
.station-34__cls-10 {
  fill: #fff;
}

.station-34__cls-13 {
  fill: #e6e6e6;
}

.station-34__cls-4,
.station-34__cls-5,
.station-34__cls-6,
.station-34__cls-7,
.station-34__cls-9,
.station-34__cls-11 {
  font-size: 18px;
}

.station-34__cls-14,
.station-34__cls-15,
.station-34__cls-17 {
  stroke: #66bb6a;
}

.station-34__cls-14,
.station-34__cls-16 {
  fill: none;
}

.station-34__cls-5,
.station-34__cls-36 {
  fill: #fbc02d;
}

.station-34__cls-6 {
  fill: #00e5ff;
}

.station-34__cls-15,
.station-34__cls-18,
.station-34__cls-20 {
  stroke-linecap: round;
}

.station-34__cls-55 {
  fill: #66bb6a;
}

.station-34__cls-64 {
  fill: #212121;
}

.station-34__cls-9 {
  fill: #d4145a;
}
