.station-34__cls-1 {
    fill: #009245;
}

.station-34__cls-2 {
    letter-spacing: 0em;
}

.station-34__cls-3,
.station-34__cls-4 {
    fill: #2e3192;
}

.station-34__cls-3,
.station-34__cls-4,
.station-34__cls-5,
.station-34__cls-6,
.station-34__cls-7,
.station-34__cls-8,
.station-34__cls-9,
.station-34__cls-10,
.station-34__cls-11 {
    font-family: 'Inter', sans-serif;
}

.station-34__cls-3,
.station-34__cls-8,
.station-34__cls-10 {
    font-size: 19.96px;
}

.station-34__cls-12 {
    fill: gray;
}

.station-34__cls-12,
.station-34__cls-13,
.station-34__cls-14,
.station-34__cls-15,
.station-34__cls-16,
.station-34__cls-17,
.station-34__cls-18,
.station-34__cls-19 {
    stroke-width: 2px;
}

.station-34__cls-12,
.station-34__cls-13,
.station-34__cls-14,
.station-34__cls-15,
.station-34__cls-16,
.station-34__cls-17,
.station-34__cls-18,
.station-34__cls-19,
.station-34__cls-20 {
    stroke-miterlimit: 10;
}

.station-34__cls-12,
.station-34__cls-13,
.station-34__cls-16,
.station-34__cls-18,
.station-34__cls-19,
.station-34__cls-20 {
    stroke: #000;
}

.station-34__cls-21 {
    letter-spacing: 0em;
}

.station-34__cls-22 {
    letter-spacing: 0em;
}

.station-34__cls-23 {
    letter-spacing: -.03em;
}

.station-34__cls-24,
.station-34__cls-15,
.station-34__cls-7,
.station-34__cls-17,
.station-34__cls-18,
.station-34__cls-19,
.station-34__cls-20,
.station-34__cls-10 {
    fill: #fff;
}

.station-34__cls-25 {
    letter-spacing: .03em;
}

.station-34__cls-26 {
    letter-spacing: .04em;
}

.station-34__cls-27 {
    letter-spacing: .01em;
}

.station-34__cls-28 {
    letter-spacing: -.02em;
}

.station-34__cls-29 {
    letter-spacing: 0em;
}

.station-34__cls-30 {
    letter-spacing: 0em;
}

.station-34__cls-13 {
    fill: #e6e6e6;
}

.station-34__cls-31 {
    letter-spacing: .03em;
}

.station-34__cls-4,
.station-34__cls-5,
.station-34__cls-6,
.station-34__cls-7,
.station-34__cls-9,
.station-34__cls-11 {
    font-size: 22.82px;
}

.station-34__cls-32 {
    letter-spacing: -.06em;
}

.station-34__cls-33 {
    letter-spacing: .01em;
}

.station-34__cls-14,
.station-34__cls-15,
.station-34__cls-17 {
    stroke: #66bb6a;
}

.station-34__cls-14,
.station-34__cls-16 {
    fill: none;
}

.station-34__cls-34 {
    letter-spacing: 0em;
}

.station-34__cls-35 {
    letter-spacing: 0em;
}

.station-34__cls-5,
.station-34__cls-36 {
    fill: #fbc02d;
}

.station-34__cls-37 {
    letter-spacing: 0em;
}

.station-34__cls-38 {
    letter-spacing: -.04em;
}

.station-34__cls-6 {
    fill: #00e5ff;
}

.station-34__cls-39 {
    letter-spacing: 0em;
}

.station-34__cls-40 {
    letter-spacing: 0em;
}

.station-34__cls-41 {
    letter-spacing: -.06em;
}

.station-34__cls-42 {
    letter-spacing: .01em;
}

.station-34__cls-15,
.station-34__cls-18,
.station-34__cls-20 {
    stroke-linecap: round;
}

.station-34__cls-43 {
    letter-spacing: -.03em;
}

.station-34__cls-44 {
    letter-spacing: -.02em;
}

.station-34__cls-45 {
    letter-spacing: -.05em;
}

.station-34__cls-46 {
    letter-spacing: -.02em;
}

.station-34__cls-47 {
    letter-spacing: 0em;
}

.station-34__cls-48 {
    letter-spacing: -.04em;
}

.station-34__cls-49 {
    letter-spacing: -.01em;
}

.station-34__cls-50 {
    letter-spacing: -.01em;
}

.station-34__cls-51 {
    letter-spacing: .02em;
}

.station-34__cls-52 {
    letter-spacing: -.04em;
}

.station-34__cls-53 {
    letter-spacing: 0em;
}

.station-34__cls-54 {
    letter-spacing: 0em;
}

.station-34__cls-55 {
    fill: #66bb6a;
}

.station-34__cls-56 {
    letter-spacing: 0em;
}

.station-34__cls-57 {
    letter-spacing: -.07em;
}

.station-34__cls-58 {
    letter-spacing: .01em;
}

.station-34__cls-59 {
    letter-spacing: 0em;
}

.station-34__cls-60 {
    letter-spacing: -.07em;
}

.station-34__cls-61 {
    letter-spacing: -.03em;
}

.station-34__cls-62 {
    letter-spacing: -.04em;
}

.station-34__cls-63 {
    letter-spacing: 0em;
}

.station-34__cls-64 {
    fill: #212121;
}

.station-34__cls-65 {
    letter-spacing: .02em;
}

.station-34__cls-66 {
    letter-spacing: 0em;
}

.station-34__cls-67 {
    letter-spacing: -.05em;
}

.station-34__cls-68 {
    letter-spacing: 0em;
}

.station-34__cls-69 {
    letter-spacing: -.04em;
}

.station-34__cls-70 {
    letter-spacing: 0em;
}

.station-34__cls-71 {
    letter-spacing: -.03em;
}

.station-34__cls-72 {
    letter-spacing: 0em;
}

.station-34__cls-73 {
    letter-spacing: 0em;
}

.station-34__cls-74 {
    letter-spacing: 0em;
}

.station-34__cls-75 {
    letter-spacing: 0em;
}

.station-34__cls-76 {
    letter-spacing: .05em;
}

.station-34__cls-77 {
    letter-spacing: 0em;
}

.station-34__cls-78 {
    letter-spacing: -.01em;
}

.station-34__cls-79 {
    letter-spacing: -.04em;
}

.station-34__cls-80 {
    letter-spacing: 0em;
}

.station-34__cls-81 {
    letter-spacing: .03em;
}

.station-34__cls-82 {
    letter-spacing: 0em;
}

.station-34__cls-83 {
    letter-spacing: -.02em;
}

.station-34__cls-84 {
    letter-spacing: 0em;
}

.station-34__cls-85 {
    letter-spacing: 0em;
}

.station-34__cls-86 {
    letter-spacing: 0em;
}

.station-34__cls-87 {
    letter-spacing: 0em;
}

.station-34__cls-88 {
    letter-spacing: 0em;
}

.station-34__cls-89 {
    letter-spacing: -.01em;
}

.station-34__cls-9 {
    fill: #d4145a;
}

.station-34__cls-90 {
    letter-spacing: 0em;
}

.station-34__cls-91 {
    letter-spacing: -.08em;
}

.station-34__cls-92 {
    letter-spacing: 0em;
}

.station-34__cls-93 {
    letter-spacing: -.04em;
}

.station-34__cls-94 {
    letter-spacing: -.03em;
}

.station-34__cls-95 {
    letter-spacing: -.01em;
}

.station-34__cls-96 {
    letter-spacing: -.04em;
}

.station-34__cls-97 {
    letter-spacing: 0em;
}

.station-34__cls-98 {
    letter-spacing: -.02em;
}
