#Layer_4 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.station-30__cls-1 {
  fill: #009245;
}

.station-30__cls-3 {
  fill: #00e5ff;
}

.station-30__cls-3,
.station-30__cls-4,
.station-30__cls-5,
.station-30__cls-6,
.station-30__cls-7,
.station-30__cls-8,
.station-30__cls-9,
.station-30__cls-10 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.station-30__cls-3,
.station-30__cls-5,
.station-30__cls-6,
.station-30__cls-8,
.station-30__cls-9,
.station-30__cls-10 {
  font-size: 18px;
}

.station-30__cls-11 {
  fill: gray;
}

.station-30__cls-11,
.station-30__cls-12,
.station-30__cls-13,
.station-30__cls-14,
.station-30__cls-15,
.station-30__cls-16,
.station-30__cls-17,
.station-30__cls-18 {
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.station-30__cls-11,
.station-30__cls-12,
.station-30__cls-15,
.station-30__cls-17,
.station-30__cls-18 {
  stroke: #000;
}

.station-30__cls-21,
.station-30__cls-14,
.station-30__cls-16,
.station-30__cls-17,
.station-30__cls-7,
.station-30__cls-18,
.station-30__cls-10 {
  fill: #fff;
}

.station-30__cls-12 {
  fill: #e6e6e6;
}

.station-30__cls-13,
.station-30__cls-14,
.station-30__cls-16 {
  stroke: #66bb6a;
}

.station-30__cls-13,
.station-30__cls-15 {
  fill: none;
}

.station-30__cls-14,
.station-30__cls-17 {
  stroke-linecap: round;
}

.station-30__cls-4,
.station-30__cls-7 {
  font-size: 18.72px;
}

.station-30__cls-43,
.station-30__cls-9 {
  fill: #2e3192;
}

.station-30__cls-44,
.station-30__cls-6 {
  fill: #fbc02d;
}

.station-30__cls-45 {
  fill: #66bb6a;
}

.station-30__cls-52 {
  fill: #212121;
}

.station-30__cls-8 {
  fill: #d4145a;
}
