.station-30__cls-1 {
  fill: #009245;
}

.station-30__cls-2 {
  letter-spacing: -0.06em;
}

.station-30__cls-3 {
  fill: gray;
}

.station-30__cls-3,
.station-30__cls-4,
.station-30__cls-5,
.station-30__cls-6,
.station-30__cls-7,
.station-30__cls-8,
.station-30__cls-9,
.station-30__cls-10 {
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.station-30__cls-3,
.station-30__cls-4,
.station-30__cls-7,
.station-30__cls-9,
.station-30__cls-10 {
  stroke: #000;
}

.station-30__cls-11 {
  letter-spacing: 0em;
}

.station-30__cls-12,
.station-30__cls-13,
.station-30__cls-6,
.station-30__cls-14,
.station-30__cls-8,
.station-30__cls-9,
.station-30__cls-10 {
  fill: #fff;
}

.station-30__cls-15 {
  letter-spacing: 0em;
}

.station-30__cls-16 {
  letter-spacing: -0.01em;
}

.station-30__cls-17 {
  letter-spacing: 0em;
}

.station-30__cls-18 {
  letter-spacing: 0em;
}

.station-30__cls-19 {
  letter-spacing: 0em;
}

.station-30__cls-20 {
  letter-spacing: -0.01em;
}

.station-30__cls-4 {
  fill: #e6e6e6;
}

.station-30__cls-21,
.station-30__cls-22,
.station-30__cls-23,
.station-30__cls-13,
.station-30__cls-24,
.station-30__cls-25,
.station-30__cls-26,
.station-30__cls-14 {
  font-family: MyriadPro-Regular, 'Myriad Pro';
}

.station-30__cls-21,
.station-30__cls-13 {
  font-size: 18.21px;
}

.station-30__cls-22 {
  fill: #d4145a;
}

.station-30__cls-22,
.station-30__cls-23,
.station-30__cls-24,
.station-30__cls-25,
.station-30__cls-26,
.station-30__cls-14 {
  font-size: 20.82px;
}

.station-30__cls-27 {
  letter-spacing: 0.01em;
}

.station-30__cls-5,
.station-30__cls-6,
.station-30__cls-8 {
  stroke: #66bb6a;
}

.station-30__cls-5,
.station-30__cls-7 {
  fill: none;
}

.station-30__cls-28 {
  letter-spacing: 0em;
}

.station-30__cls-29 {
  letter-spacing: 0em;
}

.station-30__cls-30 {
  letter-spacing: 0.06em;
}

.station-30__cls-31 {
  letter-spacing: 0em;
}

.station-30__cls-32 {
  letter-spacing: -0.02em;
}

.station-30__cls-33 {
  letter-spacing: 0em;
}

.station-30__cls-34 {
  letter-spacing: 0.01em;
}

.station-30__cls-23 {
  fill: #00e5ff;
}

.station-30__cls-35 {
  letter-spacing: -0.01em;
}

.station-30__cls-6,
.station-30__cls-9 {
  stroke-linecap: round;
}

.station-30__cls-36 {
  letter-spacing: 0.01em;
}

.station-30__cls-37 {
  letter-spacing: 0em;
}

.station-30__cls-38 {
  letter-spacing: 0em;
}

.station-30__cls-39 {
  letter-spacing: 0em;
}

.station-30__cls-40 {
  letter-spacing: 0em;
}

.station-30__cls-41 {
  letter-spacing: -0.01em;
}

.station-30__cls-42 {
  letter-spacing: 0.05em;
}

.station-30__cls-43,
.station-30__cls-25 {
  fill: #2e3192;
}

.station-30__cls-44 {
  letter-spacing: 0.03em;
}

.station-30__cls-45 {
  letter-spacing: -0.03em;
}

.station-30__cls-46 {
  letter-spacing: -0.04em;
}

.station-30__cls-47,
.station-30__cls-26 {
  fill: #fbc02d;
}

.station-30__cls-48 {
  fill: #66bb6a;
}

.station-30__cls-49 {
  letter-spacing: 0em;
}

.station-30__cls-50 {
  letter-spacing: -0.01em;
}

.station-30__cls-51 {
  letter-spacing: 0em;
}

.station-30__cls-52 {
  letter-spacing: -0.04em;
}

.station-30__cls-53 {
  fill: #212121;
}

.station-30__cls-54 {
  letter-spacing: 0em;
}

.station-30__cls-55 {
  letter-spacing: -0.08em;
}

.station-30__cls-56 {
  letter-spacing: -0.04em;
}

.station-30__cls-57 {
  letter-spacing: 0em;
}

.station-30__cls-58 {
  letter-spacing: 0em;
}

.station-30__cls-59 {
  letter-spacing: 0.04em;
}

.station-30__cls-60 {
  letter-spacing: 0em;
}

.station-30__cls-61 {
  letter-spacing: -0.03em;
}

.station-30__cls-62 {
  letter-spacing: -0.06em;
}

.station-30__cls-63 {
  letter-spacing: 0em;
}

.station-30__cls-64 {
  letter-spacing: 0.02em;
}

.station-30__cls-65 {
  letter-spacing: -0.04em;
}

.station-30__cls-66 {
  letter-spacing: 0em;
}

.station-30__cls-67 {
  letter-spacing: 0em;
}

.station-30__cls-68 {
  letter-spacing: 0em;
}

.station-30__cls-69 {
  letter-spacing: 0.01em;
}

.station-30__cls-70 {
  letter-spacing: -0.03em;
}

.station-30__cls-71 {
  letter-spacing: 0em;
}
