.station-72__cls-1 {
  fill: #009245;
}

.station-72__cls-3 {
  fill: gray;
}

.station-72__cls-3,
.station-72__cls-4,
.station-72__cls-5,
.station-72__cls-6,
.station-72__cls-7,
.station-72__cls-8,
.station-72__cls-9,
.station-72__cls-10 {
  stroke-width: 2px;
}

.station-72__cls-3,
.station-72__cls-4,
.station-72__cls-5,
.station-72__cls-6,
.station-72__cls-7,
.station-72__cls-8,
.station-72__cls-9,
.station-72__cls-10,
.station-72__cls-11 {
  stroke-miterlimit: 10;
}

.station-72__cls-3,
.station-72__cls-4,
.station-72__cls-7,
.station-72__cls-9,
.station-72__cls-10,
.station-72__cls-11 {
  stroke: #000;
}

.station-72__cls-15,
.station-72__cls-6,
.station-72__cls-8,
.station-72__cls-9,
.station-72__cls-16,
.station-72__cls-10,
.station-72__cls-11,
.station-72__cls-17 {
  fill: #fff;
}

.station-72__cls-4 {
  fill: #e6e6e6;
}

.station-72__cls-33 {
  fill: #00e5ff;
}

.station-72__cls-33,
.station-72__cls-34,
.station-72__cls-35,
.station-72__cls-36,
.station-72__cls-16,
.station-72__cls-37,
.station-72__cls-38,
.station-72__cls-17,
.station-72__cls-39 {
  font-family: 'Inter', sans-serif;
}

.station-72__cls-33,
.station-72__cls-34,
.station-72__cls-35,
.station-72__cls-16,
.station-72__cls-37,
.station-72__cls-38 {
  font-size: 15px;
}

.station-72__cls-5,
.station-72__cls-6,
.station-72__cls-8 {
  stroke: #66bb6a;
}

.station-72__cls-5,
.station-72__cls-7 {
  fill: none;
}

.station-72__cls-6,
.station-72__cls-9,
.station-72__cls-11 {
  stroke-linecap: round;
}

.station-72__cls-34,
.station-72__cls-50 {
  fill: #fbc02d;
}

.station-72__cls-60 {
  fill: #66bb6a;
}

.station-72__cls-35,
.station-72__cls-39 {
  fill: #2e3192;
}

.station-72__cls-36,
.station-72__cls-17,
.station-72__cls-39 {
  font-size: 15px;
}

.station-72__cls-68 {
  fill: #212121;
}

.station-72__cls-37 {
  fill: #d4145a;
}
