.station-72__cls-1 {
  fill: #009245;
}

.station-72__cls-2 {
  letter-spacing: -0.04em;
}

.station-72__cls-3 {
  fill: gray;
}

.station-72__cls-3,
.station-72__cls-4,
.station-72__cls-5,
.station-72__cls-6,
.station-72__cls-7,
.station-72__cls-8,
.station-72__cls-9,
.station-72__cls-10 {
  stroke-width: 2px;
}

.station-72__cls-3,
.station-72__cls-4,
.station-72__cls-5,
.station-72__cls-6,
.station-72__cls-7,
.station-72__cls-8,
.station-72__cls-9,
.station-72__cls-10,
.station-72__cls-11 {
  stroke-miterlimit: 10;
}

.station-72__cls-3,
.station-72__cls-4,
.station-72__cls-7,
.station-72__cls-9,
.station-72__cls-10,
.station-72__cls-11 {
  stroke: #000;
}

.station-72__cls-12 {
  letter-spacing: 0.03em;
}

.station-72__cls-13 {
  letter-spacing: 0em;
}

.station-72__cls-14 {
  letter-spacing: 0em;
}

.station-72__cls-15,
.station-72__cls-6,
.station-72__cls-8,
.station-72__cls-9,
.station-72__cls-16,
.station-72__cls-10,
.station-72__cls-11,
.station-72__cls-17 {
  fill: #fff;
}

.station-72__cls-18 {
  letter-spacing: 0em;
}

.station-72__cls-19 {
  letter-spacing: 0em;
}

.station-72__cls-20 {
  letter-spacing: -0.07em;
}

.station-72__cls-21 {
  letter-spacing: 0em;
}

.station-72__cls-22 {
  letter-spacing: 0em;
}

.station-72__cls-23 {
  letter-spacing: 0em;
}

.station-72__cls-24 {
  letter-spacing: -0.04em;
}

.station-72__cls-25 {
  letter-spacing: -0.02em;
}

.station-72__cls-26 {
  letter-spacing: 0em;
}

.station-72__cls-27 {
  letter-spacing: 0.04em;
}

.station-72__cls-28 {
  letter-spacing: 0em;
}

.station-72__cls-4 {
  fill: #e6e6e6;
}

.station-72__cls-29 {
  letter-spacing: -0.03em;
}

.station-72__cls-30 {
  letter-spacing: -0.04em;
}

.station-72__cls-31 {
  letter-spacing: -0.02em;
}

.station-72__cls-32 {
  letter-spacing: 0em;
}

.station-72__cls-33 {
  fill: #00e5ff;
}

.station-72__cls-33,
.station-72__cls-34,
.station-72__cls-35,
.station-72__cls-36,
.station-72__cls-16,
.station-72__cls-37,
.station-72__cls-38,
.station-72__cls-17,
.station-72__cls-39 {
  font-family: 'Inter', sans-serif;
}

.station-72__cls-33,
.station-72__cls-34,
.station-72__cls-35,
.station-72__cls-16,
.station-72__cls-37,
.station-72__cls-38 {
  font-size: 18.67px;
}

.station-72__cls-40 {
  letter-spacing: 0.01em;
}

.station-72__cls-41 {
  letter-spacing: 0em;
}

.station-72__cls-5,
.station-72__cls-6,
.station-72__cls-8 {
  stroke: #66bb6a;
}

.station-72__cls-5,
.station-72__cls-7 {
  fill: none;
}

.station-72__cls-42 {
  letter-spacing: -0.06em;
}

.station-72__cls-43 {
  letter-spacing: 0.01em;
}

.station-72__cls-44 {
  letter-spacing: 0.01em;
}

.station-72__cls-45 {
  letter-spacing: 0em;
}

.station-72__cls-46 {
  letter-spacing: 0em;
}

.station-72__cls-47 {
  letter-spacing: -0.06em;
}

.station-72__cls-48 {
  letter-spacing: -0.04em;
}

.station-72__cls-6,
.station-72__cls-9,
.station-72__cls-11 {
  stroke-linecap: round;
}

.station-72__cls-49 {
  letter-spacing: 0em;
}

.station-72__cls-34,
.station-72__cls-50 {
  fill: #fbc02d;
}

.station-72__cls-51 {
  letter-spacing: 0em;
}

.station-72__cls-52 {
  letter-spacing: -0.07em;
}

.station-72__cls-53 {
  letter-spacing: -0.03em;
}

.station-72__cls-54 {
  letter-spacing: 0em;
}

.station-72__cls-55 {
  letter-spacing: 0em;
}

.station-72__cls-56 {
  letter-spacing: 0.01em;
}

.station-72__cls-57 {
  letter-spacing: 0em;
}

.station-72__cls-58 {
  letter-spacing: 0em;
}

.station-72__cls-59 {
  letter-spacing: -0.02em;
}

.station-72__cls-60 {
  fill: #66bb6a;
}

.station-72__cls-61 {
  letter-spacing: -0.02em;
}

.station-72__cls-62 {
  letter-spacing: -0.04em;
}

.station-72__cls-63 {
  letter-spacing: -0.01em;
}

.station-72__cls-64 {
  letter-spacing: -0.01em;
}

.station-72__cls-65 {
  letter-spacing: 0.05em;
}

.station-72__cls-35,
.station-72__cls-39 {
  fill: #2e3192;
}

.station-72__cls-36,
.station-72__cls-17,
.station-72__cls-39 {
  font-size: 16.34px;
}

.station-72__cls-66 {
  letter-spacing: 0em;
}

.station-72__cls-67 {
  letter-spacing: 0em;
}

.station-72__cls-68 {
  fill: #212121;
}

.station-72__cls-69 {
  letter-spacing: 0em;
}

.station-72__cls-70 {
  letter-spacing: -0.04em;
}

.station-72__cls-71 {
  letter-spacing: -0.01em;
}

.station-72__cls-72 {
  letter-spacing: 0em;
}

.station-72__cls-73 {
  letter-spacing: -0.03em;
}

.station-72__cls-74 {
  letter-spacing: -0.01em;
}

.station-72__cls-75 {
  letter-spacing: 0em;
}

.station-72__cls-76 {
  letter-spacing: -0.01em;
}

.station-72__cls-77 {
  letter-spacing: 0.02em;
}

.station-72__cls-78 {
  letter-spacing: 0em;
}

.station-72__cls-79 {
  letter-spacing: 0.03em;
}

.station-72__cls-37 {
  fill: #d4145a;
}

.station-72__cls-80 {
  letter-spacing: 0.01em;
}

.station-72__cls-81 {
  letter-spacing: -0.03em;
}

.station-72__cls-82 {
  letter-spacing: 0em;
}

.station-72__cls-83 {
  letter-spacing: -0.06em;
}

.station-72__cls-84 {
  letter-spacing: 0em;
}

.station-72__cls-85 {
  letter-spacing: -0.02em;
}

.station-72__cls-86 {
  letter-spacing: 0em;
}

.station-72__cls-87 {
  letter-spacing: 0em;
}

.station-72__cls-88 {
  letter-spacing: 0em;
}

.station-72__cls-89 {
  letter-spacing: 0em;
}

.station-72__cls-90 {
  letter-spacing: -0.03em;
}

.station-72__cls-91 {
  letter-spacing: -0.02em;
}

.station-72__cls-92 {
  letter-spacing: 0em;
}

.station-72__cls-93 {
  letter-spacing: -0.05em;
}

.station-72__cls-94 {
  letter-spacing: 0em;
}

.station-72__cls-95 {
  letter-spacing: 0em;
}

.station-72__cls-96 {
  letter-spacing: 0em;
}

.station-72__cls-97 {
  letter-spacing: -0.03em;
}
