.station-82__cls-1 {
  fill: #009245;
}

.station-82__cls-3,
.station-82__cls-4,
.station-82__cls-5,
.station-82__cls-6,
.station-82__cls-7,
.station-82__cls-8,
.station-82__cls-9,
.station-82__cls-10 {
  fill: #fff;
}

.station-82__cls-3,
.station-82__cls-11,
.station-82__cls-12,
.station-82__cls-6,
.station-82__cls-13,
.station-82__cls-14,
.station-82__cls-15,
.station-82__cls-16,
.station-82__cls-17 {
  font-family: 'Inter', sans-serif;
}

.station-82__cls-3,
.station-82__cls-11,
.station-82__cls-13,
.station-82__cls-14,
.station-82__cls-15,
.station-82__cls-17 {
  font-size: 18px;
}

.station-82__cls-18 {
  fill: gray;
}

.station-82__cls-18,
.station-82__cls-19,
.station-82__cls-20,
.station-82__cls-5,
.station-82__cls-21,
.station-82__cls-22,
.station-82__cls-7,
.station-82__cls-8,
.station-82__cls-9 {
  stroke-width: 2px;
}

.station-82__cls-18,
.station-82__cls-19,
.station-82__cls-20,
.station-82__cls-5,
.station-82__cls-21,
.station-82__cls-22,
.station-82__cls-7,
.station-82__cls-8,
.station-82__cls-9,
.station-82__cls-10 {
  stroke-miterlimit: 10;
}

.station-82__cls-18,
.station-82__cls-19,
.station-82__cls-21,
.station-82__cls-22,
.station-82__cls-8,
.station-82__cls-9,
.station-82__cls-10 {
  stroke: #000;
}

.station-82__cls-19 {
  fill: #e6e6e6;
}

.station-82__cls-11 {
  fill: #d4145a;
}

.station-82__cls-20,
.station-82__cls-5,
.station-82__cls-7 {
  stroke: #66bb6a;
}

.station-82__cls-20,
.station-82__cls-22 {
  fill: none;
}

.station-82__cls-12,
.station-82__cls-6,
.station-82__cls-16 {
  font-size: 18px;
}

.station-82__cls-12,
.station-82__cls-43,
.station-82__cls-14 {
  fill: #2e3192;
}

.station-82__cls-5,
.station-82__cls-8,
.station-82__cls-10 {
  stroke-linecap: round;
}

.station-82__cls-13 {
  fill: #00e5ff;
}

.station-82__cls-62,
.station-82__cls-17 {
  fill: #fbc02d;
}

.station-82__cls-64 {
  fill: #66bb6a;
}

.station-82__cls-72 {
  fill: #212121;
}
