.station-82__cls-1 {
    fill: #009245;
}

.station-82__cls-2 {
    letter-spacing: .01em;
}

.station-82__cls-3,
.station-82__cls-4,
.station-82__cls-5,
.station-82__cls-6,
.station-82__cls-7,
.station-82__cls-8,
.station-82__cls-9,
.station-82__cls-10 {
    fill: #fff;
}

.station-82__cls-3,
.station-82__cls-11,
.station-82__cls-12,
.station-82__cls-6,
.station-82__cls-13,
.station-82__cls-14,
.station-82__cls-15,
.station-82__cls-16,
.station-82__cls-17 {
    font-family: 'Inter', sans-serif;
}

.station-82__cls-3,
.station-82__cls-11,
.station-82__cls-13,
.station-82__cls-14,
.station-82__cls-15,
.station-82__cls-17 {
    font-size: 20.53px;
}

.station-82__cls-18 {
    fill: gray;
}

.station-82__cls-18,
.station-82__cls-19,
.station-82__cls-20,
.station-82__cls-5,
.station-82__cls-21,
.station-82__cls-22,
.station-82__cls-7,
.station-82__cls-8,
.station-82__cls-9 {
    stroke-width: 2px;
}

.station-82__cls-18,
.station-82__cls-19,
.station-82__cls-20,
.station-82__cls-5,
.station-82__cls-21,
.station-82__cls-22,
.station-82__cls-7,
.station-82__cls-8,
.station-82__cls-9,
.station-82__cls-10 {
    stroke-miterlimit: 10;
}

.station-82__cls-18,
.station-82__cls-19,
.station-82__cls-21,
.station-82__cls-22,
.station-82__cls-8,
.station-82__cls-9,
.station-82__cls-10 {
    stroke: #000;
}

.station-82__cls-23 {
    letter-spacing: .01em;
}

.station-82__cls-24 {
    letter-spacing: 0em;
}

.station-82__cls-25 {
    letter-spacing: -.04em;
}

.station-82__cls-26 {
    letter-spacing: -.05em;
}

.station-82__cls-27 {
    letter-spacing: -.04em;
}

.station-82__cls-28 {
    letter-spacing: .01em;
}

.station-82__cls-29 {
    letter-spacing: 0em;
}

.station-82__cls-30 {
    letter-spacing: .01em;
}

.station-82__cls-31 {
    letter-spacing: 0em;
}

.station-82__cls-32 {
    letter-spacing: .01em;
}

.station-82__cls-33 {
    letter-spacing: -.02em;
}

.station-82__cls-19 {
    fill: #e6e6e6;
}

.station-82__cls-34 {
    letter-spacing: 0em;
}

.station-82__cls-35 {
    letter-spacing: 0em;
}

.station-82__cls-11 {
    fill: #d4145a;
}

.station-82__cls-36 {
    letter-spacing: -.08em;
}

.station-82__cls-37 {
    letter-spacing: -.01em;
}

.station-82__cls-38 {
    letter-spacing: -.01em;
}

.station-82__cls-39 {
    letter-spacing: -.02em;
}

.station-82__cls-20,
.station-82__cls-5,
.station-82__cls-7 {
    stroke: #66bb6a;
}

.station-82__cls-20,
.station-82__cls-22 {
    fill: none;
}

.station-82__cls-40 {
    letter-spacing: .04em;
}

.station-82__cls-41 {
    letter-spacing: -.01em;
}

.station-82__cls-42 {
    letter-spacing: -.06em;
}

.station-82__cls-12,
.station-82__cls-6,
.station-82__cls-16 {
    font-size: 17.97px;
}

.station-82__cls-12,
.station-82__cls-43,
.station-82__cls-14 {
    fill: #2e3192;
}

.station-82__cls-44 {
    letter-spacing: -.04em;
}

.station-82__cls-45 {
    letter-spacing: -.03em;
}

.station-82__cls-46 {
    letter-spacing: -.04em;
}

.station-82__cls-47 {
    letter-spacing: -.04em;
}

.station-82__cls-5,
.station-82__cls-8,
.station-82__cls-10 {
    stroke-linecap: round;
}

.station-82__cls-48 {
    letter-spacing: -.02em;
}

.station-82__cls-49 {
    letter-spacing: -.06em;
}

.station-82__cls-50 {
    letter-spacing: .03em;
}

.station-82__cls-51 {
    letter-spacing: -.08em;
}

.station-82__cls-52 {
    letter-spacing: 0em;
}

.station-82__cls-53 {
    letter-spacing: -.04em;
}

.station-82__cls-54 {
    letter-spacing: 0em;
}

.station-82__cls-55 {
    letter-spacing: -.08em;
}

.station-82__cls-56 {
    letter-spacing: -.06em;
}

.station-82__cls-57 {
    letter-spacing: 0em;
}

.station-82__cls-58 {
    letter-spacing: -.02em;
}

.station-82__cls-13 {
    fill: #00e5ff;
}

.station-82__cls-59 {
    letter-spacing: .01em;
}

.station-82__cls-60 {
    letter-spacing: -.02em;
}

.station-82__cls-61 {
    letter-spacing: -.03em;
}

.station-82__cls-62,
.station-82__cls-17 {
    fill: #fbc02d;
}

.station-82__cls-63 {
    letter-spacing: 0em;
}

.station-82__cls-64 {
    fill: #66bb6a;
}

.station-82__cls-65 {
    letter-spacing: 0em;
}

.station-82__cls-66 {
    letter-spacing: 0em;
}

.station-82__cls-67 {
    letter-spacing: 0em;
}

.station-82__cls-68 {
    letter-spacing: -.03em;
}

.station-82__cls-69 {
    letter-spacing: .02em;
}

.station-82__cls-70 {
    letter-spacing: 0em;
}

.station-82__cls-71 {
    letter-spacing: 0em;
}

.station-82__cls-72 {
    fill: #212121;
}

.station-82__cls-73 {
    letter-spacing: .02em;
}

.station-82__cls-74 {
    letter-spacing: 0em;
}

.station-82__cls-75 {
    letter-spacing: .01em;
}

.station-82__cls-76 {
    letter-spacing: 0em;
}

.station-82__cls-77 {
    letter-spacing: 0em;
}

.station-82__cls-78 {
    letter-spacing: 0em;
}

.station-82__cls-79 {
    letter-spacing: 0em;
}

.station-82__cls-80 {
    letter-spacing: 0em;
}

.station-82__cls-81 {
    letter-spacing: 0em;
}

.station-82__cls-82 {
    letter-spacing: -.01em;
}

.station-82__cls-83 {
    letter-spacing: .01em;
}

.station-82__cls-84 {
    letter-spacing: 0em;
}

.station-82__cls-85 {
    letter-spacing: -.04em;
}

.station-82__cls-86 {
    letter-spacing: 0em;
}

.station-82__cls-87 {
    letter-spacing: 0em;
}

.station-82__cls-88 {
    letter-spacing: 0em;
}

.station-82__cls-89 {
    letter-spacing: 0em;
}

.station-82__cls-90 {
    letter-spacing: -.06em;
}

.station-82__cls-91 {
    letter-spacing: -.01em;
}

.station-82__cls-92 {
    letter-spacing: 0em;
}

.station-82__cls-93 {
    letter-spacing: 0em;
}

.station-82__cls-94 {
    letter-spacing: .05em;
}

.station-82__cls-95 {
    letter-spacing: 0em;
}

.station-82__cls-96 {
    letter-spacing: -.02em;
}

.station-82__cls-97 {
    letter-spacing: -.03em;
}

.station-82__cls-98 {
    letter-spacing: -.03em;
}

.station-82__cls-99 {
    letter-spacing: -.14em;
}

.station-82__cls-100 {
    letter-spacing: .01em;
}

.station-82__cls-101 {
    letter-spacing: 0em;
}

.station-82__cls-102 {
    letter-spacing: 0em;
}

.station-82__cls-103 {
    letter-spacing: 0em;
}

.station-82__cls-104 {
    letter-spacing: 0em;
}
